// colors
$text: #666;
$text-dark: #333;
$text-light: #999;
$blue: #1B267F;
$shiny-blue: #1B267F;
$dark-blue: #04082E;
$gray: #ddd;
$dark: #222;
$red: #cc0000;
$border-corlor-x1: rgba(0,0,0,.09); // from medium

// layout
$root-font-size: 16px;
$branding-height: 60px;
$sidebar-width: 300px;
$input-line-height: 25px;
$input-padding: 5px;
$reading-width: 700px;
$border-radius: 3px;

// fonts
$sans-font: "roboto", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace;
$serif-font: "Droid serif", georgia, serif;

// shadow
$shadow-x1: 0 1px 4px rgba(0,0,0,.04); // from medium
$shadow-x2: 0 0 1px rgba(0,0,0,.44); // for panel
$shadow-y1: 0 2px 12px rgba(0, 0, 0, 0.32); // custom
$shadow-y2: 0 12px 63px rgba(0, 0, 0, 0.15); // large soft shadow for popups
$shadow-z1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
$shadow-z2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
$shadow-z3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
$shadow-z4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
$shadow-z5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

// z-index
$z-selectize-options: 900;
$z-dropdown-menu: 900;
$z-modal-backdrop: 900;
$z-console-branding: 800;
$z-vnav: 1200;
$z-viewer-pref: 1200;

// config
$enable-hover-media-query: false !default;
$enable-rounded: true !default;

// bootstrap 
$container-max-widths: (
  sm: 576px,
  md: 720px,
  lg: 940px,
  xl: 1140px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 544px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;
