.console-branding {
  background: $super_power;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .sep {
    margin: 0 20px;
    opacity: .6;
    font-size: 1.5rem;
  }

  .sub {
    opacity: .8;
    font-size: 1.3rem;
  }

  .dropdown-menu {
    @include make_dropdown_menu($super_power);
  }
}
