@import "~styles/variables";

.branding {
  min-height: $branding-height;
  background: $dark;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;;
  top: 60px;
  right: 0;
  z-index: 999;
}

.username,
.nav-links {
  line-height: $branding-height;
}

.nav {
  position: relative;
  color: #fff;
  cursor: pointer;
  line-height: $branding-height;
  display: inline-block;
}

.dropdown-recent-reading {
  margin-right: 15px;
}

.nav--user {
  @extend .nav;
  float: right;
}

.nav-link {
  :global .icon {
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
}

.nav-item {
  display: inline-block;
  margin-left: 35px;
}

.recent-reading {
  margin-right: 15px;
}
