@import "styles/_variables";

$padding_x: 30px;
$padding_y: 15px;

.modal {
  background: #fff;
  padding: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  
  .icon-close {
    cursor: pointer;
  }
}

.modal-backdrop {
  z-index: $z-modal-backdrop;
}

.modal-header,
.modal-footer,
.modal-body {
  padding: $padding_y $padding_x;
}

.modal-body {
  padding: $padding_y/2 $padding_x;
}

.modal-header {
  border-bottom: 3px solid #e9ebf2;
  position: relative;
  
  .icon-close {
    color: #74838f;
    font-size: 1.4rem;
  }
}

.modal-title {
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  color: $text-dark;
}

.modal-sub-title {
  font-size: 0.9rem;
  margin-left: 15px;
  position: relative;
  top: 2px;
  color: $text-light;
}

.modal-footer {
  border-top: 3px solid #e9ebf2;
  text-align: right;
  overflow: hidden;
  
  .btn-red {
    float: left;
    margin-left: 0;
  }

  button {
    margin: 5px 0 5px 10px;
  }
}