@import "styles/_variables";

.branding {
  background: $blue;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  height: $branding-height;
}

.sep {
  margin: 0 10px;
  opacity: .6;
  font-size: 1rem;
}

.sub {
  opacity: .8;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: -3px;
  display: inline-block;
}

.right {
  float: right;
} 

.sub-name {
  float: left;
  margin-left: 15px;
  
  span {
    display: inline-block;
    line-height: $branding-height;
    height: $branding-height;
    color: #fff;
  }
}

.nav {
  color: #fff;
  line-height: $branding-height;
  height: $branding-height;
  composes: nav from '../Branding/Branding.scss'
}
