@import "styles/variables.css";

.branding {
  background: var(--blue);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.sep {
  margin: 0 10px;
  opacity: .6;
  font-size: 1rem;
}

.sub {
  opacity: .8;
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: -3px;
  display: inline-block;
}

.right {
  float: right;
} 

.sub-name {
  float: left;
  line-height: var(--branding-height);
  color: #fff;
}

.nav {
  composes: nav from '../Branding/Branding.css'
}
