@import "styles/_variables";

.hero-image {
  text-align: center;
  height: 500px;
}

.logo {
  text-align: center;
  padding-top: 150px;
  font-size: 1.2rem;
}

.btn {
  margin: 0 auto;
}

.page-title {
  @extend %page-title;
  margin: 10px 0 20px;
  font-size: 2rem;
}
