{
  "presets": ["react"],
  "plugins":["transform-es2015-modules-commonjs"],
  "env": {
    "development": {
      "presets": ["react-hmre"]
    },
    "production": {
      "presets": ["es2015"]
    }
  }
}
