doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/lib/normalize.css')
    //- link(rel='stylesheet' href='/lib/foundation/css/foundation.min.css')
    link(rel='stylesheet' href='/lib/mui/css/mui.min.css')
    link(rel='stylesheet' href='/dist/css/main.css')
    script(src="/lib/jquery/jquery-2.2.0.min.js")
    script(src="/lib/mui/js/mui.min.js")
  body
    header.branding.mui-appbar.mui--z1
      .mui-container.clearfix
        h1.logo.left
          a(href="/") readr
        ul.right.mui-list--inline.mui--text-body2
          if userinfo
            li #{userinfo.username} 
              a(href="/logout") 退出
          else
            li
              a(href="/signup") 注册
            li
              a(href="/signin") 登录
    block content
