doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/lib/normalize.css')
    link(rel='stylesheet' href='/lib/foundation/css/foundation.min.css')
    link(rel='stylesheet' href='/dist/css/main.css')
    script(src="/lib/jquery/jquery-2.2.0.min.js")
  body
    h1.logo
      a(href="/") readr
    block content
