// @charset "UTF-8";
// iPhone 4 960 × 640 (480x320)
// iPhone 5 1136 x 640 (568x320)
// iPhone 6 1334 x 750 (667x375)
// iPhone 6 Plus 1920 x 1080 (960x540)
// iPad 2048 x 1536 (1024x768)

// $container-max-widths: (
//   sm: 576px,
//   md: 720px,
//   lg: 940px,
//   xl: 1140px
// ) !default;

$phone-width: 540px;
$tablet-width: 768px;
$tablet-landscape-width: 1024px;
$hd-width: 1300px;

@mixin phone {
  @media (max-width: #{$phone-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}

@mixin tablet_landscape {
  @media (max-width: #{$tablet-landscape-width}) {
    @content;
  }
}

@mixin desktop_hd {
  @media (min-width: #{$hd-width}) {
    @content;
  }
}

// landscape is not included
@mixin tablet_only {
  @media (min-width: #{$phone-width}) and (max-width: #{$tablet-width}) {
    @content;
  }
}
