// Branding

.branding {
  $branding_height: 60px;
  min-height: $branding_height;
  background: $app_base_color;
  .logo {
    margin: 0;
    line-height: $branding_height;
    color: #fff;
    a {
      background: url(../img/logo.png) no-repeat left;
      width: 70px;
      height: $branding_height;
      background-size: 70px;
      text-indent: -999em;
      display: inline-block;
    }
  }
  .nav {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 0 10px;
    .username,
    .nav-links {
      line-height: $branding_height;
    }

    ul.nav-links {
      li {
        display: inline-block;
        a {
          padding: 0 5px;
          @extend .light-link;
        }
      }
    }

    .dropdown-menu {
      position: absolute;;
      top: 60px;
      right: 0;
      z-index: 999;
    }
  }
}

.console-branding {
  background: $super_power;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .sep {
    margin: 0 20px;
    opacity: .6;
    font-size: 1.5rem;
  }
  .sub {
    opacity: .8;
    font-size: 1.3rem;
  }
  .dropdown-menu {
    @include make_dropdown_menu($super_power);
  }
}
