.notifications {
  position: fixed;
  width: $best_reading_width;
  margin-left: -$best_reading_width/2;
  top: 10px;
  left: 50%;
  z-index: 9999;
} 

.notification {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  margin-bottom: 10px;
  position: relative;

  .icon-close {
    cursor: pointer;
    background: $super_power;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

.notification--success {
  background: $app_base_color;
  color: #fff;
}

.notification--error {
  background: red;
  color: #fff;
}