.page-title {
  margin: 35px 0;
  font-size: 2rem;
  font-weight: bold;
  color: $text_d;
  
  small {
    font-size: 1rem;
  }
}

.page-header {
  margin: 35px 0;
  position: relative;
  
  .page-title {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 46px;
  }
}

.page-content {
  width: 700px;
  margin: 0 auto;
}

// todo: make this button
.page-load-more {
  border: 1px solid $gray_d;
  width: 80%;
  margin: 30px auto;
  padding: 6px 0;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
}
