.viewer-scrollbar {
  $size: 20px;

  width: 2px;
  min-height: 400px;
  position: fixed;
  right: 40px;
  top: 100px;

  .track,
  .track-past {
    width: 2px;
    background: darken($color: $gray_d, $amount: 10%);
    border-radius: 3px;
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 1;
  }

  .track-past {
    background: lighten($color: $app_blue, $amount: 30%);
    z-index: 2;
  }

  .button {
    width: $size;
    height: $size;
    background: $app_blue;
    box-shadow: $common_shadow;
    position: absolute;
    left: 0;
    top: 84px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
    display: none;
  }

  .loc-info {
    text-align: center;
    position: absolute;
    right: 30px;
    top: -13px;
    background: $app_black;
    color: #ddd;
    box-shadow: $common_shadow;
    padding: 7px 15px;

    .sub-info {
      font-size: 0.8rem;
      color: #aaa;
    }
  }

  &:hover {
    .button {
      display: block;
    }
  }
}