@import "styles/variables.css";

.book-info-header {
  overflow: hidden;
  margin-top: 40px;
}

.left-col {
  float: left;
  margin-right: 30px;
}

.book-name {
  font-size: 1.8rem;
  font-weight: bold;
  margin: 15px 0 5px 0;
  color: var(--text-dark);
  line-height: 1.2
}
.book-author {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.book-cover {
  margin: 0;
  width: 134px;
  height: 184px;
  top: 0;
  background: url(static/img/shadow.png) no-repeat top;
  transition: all 0.2s ease 0s;
  position: relative;

  & img {
    width: 100px;
    height: 150px;
    display: block;
    position: absolute;
    border: none;
    left: 17px;
    top: 7px;
    border-radius: 4px;
  }
}

.desc {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--text-dark);
  padding-top: 20px;
  border-top: 1px solid var(--gray);
}

