// colors

$app_base_color: #1b1b1b;
$super_power: #1B267F;
$super_power2: #04082E;

$text_n: #666;
$text_d: #333;
$text_l: #999;

$link_n: #2c65c7;
$link_h: #4c83e0;
$link_a: #4b8cff;

$gray_l: #f2f2f2;
$gray_d: #ddd;

// layout

$grid_gutter: 10px;

$best_reading_width: 500px;
$wide_screen: 1200px;
$normal_screen: 900px;
$narrow_screen: 768px;
$mobile_screen: 400px;

$branding_height: 60px;
$sidebar_width: 300px;

$spacing_l: 100px;
$spacing_m: 50px;
$spacing_s: 25px;

$font_size_l: 40px;
$font_size_m: 22px;
$font_size_s: 16px;

$font_size_root: 16px;

$border_radius: 3px;
$input_line_height: 25px;
$input_padding: 5px;

// btn

$btn_normal: #f6f6f6;
$btn_hover: #f9f9f9;
$btn_active: #fff;
$btn_focus: #fff;
$btn_outline: #1d5ad0;
$btn_hover_outline: #999;
$btn_text: #666;
$btn_hover_text: #222;
$btn_shadow: 0 1px 5px rgba(0,0,0,0.1);



// $sans_font: "roboto","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft Yahei",sans-serif;
$sans_font: Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
$sans_font_ie: "Microsoft Yahei", Arial, sans-serif;
$serif_font: "Droid serif", georgia, serif;

%transition {
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
