
/*
 * shared styles
 * -------------------------------------------------------------------------------------
**/

.dark-link {

}
.text-link {
  color: $text_n;

  &:hover {
   color: $link_n;
  }
}
.light-link {
  color: #fff;

  &:hover {
   color: #f2f2f2;
  }
}



/*
 * ui pieces
 * -------------------------------------------------------------------------------------
**/

// notification
.msg {
  position: fixed;
  width: $best_reading_width;
  margin-left: -$best_reading_width/2;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 990;
}

// loading
.text-loading {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 100px 0;
}

.loading-wrap {
	background: #fff;
  .icon-loading {
  	width: 200px;
  	height: 100px;
  	position: fixed;
  	left: 50%;
  	top: 50%;
  	margin: -50px 0 0 -100px;
  	background: url(../img/loading.gif) no-repeat center;
  	z-index: 999;
  }
}


// dropdown menu
@mixin make_dropdown_menu($background) {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1rem;
  min-width: 150px;
  text-align: left;
  background: $background;

  >li {
    border-bottom: 1px solid lighten($background, 10%);
    padding: 5px 0;

    a {
      display: block;
      background: $background;
      padding: 0 10px;
      @extend .light-link;

      &:hover {
        background: lighten($background, 10%);
      }

      &:active {
        background: darken($background, 10%);
      }
    }
  }

  >li:last-child {
    border-bottom: none;
  }
}

ul.dropdown-menu {
  @include make_dropdown_menu($app_base_color)
}



/*
 * form elements
 * -------------------------------------------------------------------------------------
**/
input {
  margin: 0;
  padding: 0;
}

.input-wrap {
  margin: 10px 0;
  input {
    width: 100%;
    padding: $input_padding 5px;
    border: 1px solid $gray_d;
    transition: border-color .3s;
    line-height: $input_line_height;
    outline: none;
    &:focus {
      border-color: $super_power;
    }
  }
}

.selectize-input {
  min-width: 300px;
  border: 1px solid $gray_d;
  margin: 10px 0;
  box-sizing: border-box;
  padding: $input_padding 5px ($input_padding - 5);
  transition: border-color .3s;
  cursor: text;
  input {
    border: none;
    outline: none;
    line-height: $input_line_height;
    margin-bottom: 5px;
  }
  .tag {
  }
  ul.query-results {
    margin-bottom: 5px;
    li {
      padding: 0 3px;
      line-height: 2;
      cursor: pointer;
      &:hover {
        background: $gray_l;
      }
    }
  }
  &.focus {
    border-color: $super_power;
  }
  &.empty {
    // padding-bottom: $input_padding;
  }
}

textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid $gray_d;
  outline: none;
  height: 100px;
  transition: border-color .3s;
  &:focus {
    border-color: $super_power;
  }
}

// TODO
.btn {
  display: inline-block;
  background: $btn_normal;
  padding: $input_padding 20px;
  line-height: $input_line_height;
  font-size: 1rem;
  color: $btn_text;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: $sans_font;
  border-radius: $border_radius;
  border: 1px solid transparent;
  margin: 5px 0;
  transition: all 0.3s 0s;
  &:hover {
    background: $btn_hover;
    color: $btn_hover_text;
    border: 1px solid $btn_hover_outline;
    @extend .z1;
  }
  &:focus {
    background: $btn_focus;
    border: 1px solid $btn_outline;
    @extend .z1;
  }
  &:active {
    background: $btn_active;
    border: 1px solid $btn_outline;
    box-shadow: none;
    &:hover {
      box-shadow: none;
    }
  }
}

.btn.btn-blue {
  background: $btn_blue;
  color: #fff;
}

.btn.btn-orange {
  background: $btn_orange;
}

.btn.btn-red {
  background: $btn_red;
}

/*
 * dialog
 * -------------------------------------------------------------------------------------
**/

.dialog {
  position: fixed;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  z-index: 999;
  background: #fff;
  padding: 30px;

  p {
    font-size: 1.2rem;
  }
}
