/*
 * layout
 * ------------------------------------------------------------------------------------
**/

.container {
  width: 1060px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box;
  // position: relative;
  @include tablet_landscape {
    width: 750px;
  }
  @include tablet {
    width: 100%;
  }
}
.container-fluid {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
.content-container {
  width: $best_reading_width;
  margin: 0 auto;
  @include phone {
    width: 100%;
  }
}
.sep {
  margin: 0 5px;
  color: $gray_d;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}

/*
 * shared styles
 * -------------------------------------------------------------------------------------
**/

.dark-link {

}
.text-link {
  color: $text_n;

  &:hover {
   color: $link_n;
  }
}
.light-link {
  color: #fff;

  &:hover {
   color: #f2f2f2;
  }
}



/*
 * ui pieces
 * -------------------------------------------------------------------------------------
**/

 .page-title {
   margin: 30px 0 15px;
   font-size: 25px;
   color: $text_d;
   font-weight: bold;
 }

 .badge-dark {
   background: lighten($super_power, 40%);
   border-radius: 3px;
   padding: 3px 4px;
   font-size: 1.2rem;
   color: lighten($super_power, 50%);
   color: $super_power;
   margin: 0 5px;
 }

// notification
.msg {
  position: fixed;
  width: $best_reading_width;
  margin-left: -$best_reading_width/2;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 990;
}

// loading
.text-loading {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 100px 0;
}

.loading-wrap {
	background: #fff;
  .icon-loading {
  	width: 200px;
  	height: 100px;
  	position: fixed;;
  	left: 50%;
  	top: 50%;
  	margin: -50px 0 0 -100px;
  	background: url(../img/loading.gif) no-repeat center;
  	z-index: 999;
  }
}


// confirm
.confirm-dialog {
  position: fixed;
  width: $best_reading_width;
  margin-left: -$best_reading_width/2;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 990;
  .content {
    font-size: 2rem;
    padding: 20px 0;
  }
}


// dropdown menu
ul.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1.4rem;
  min-width: 150px;
  text-align: left;
  background: $app_base_color;

  >li {
    border-bottom: 1px solid lighten($app_base_color, 10%);
    padding: 5px 0;

    a {
      display: block;
      background: $app_base_color;
      padding: 0 10px;
      @extend .light-link;

      &:hover {
        background: lighten($app_base_color, 10%);
      }

      &:active {
        background: darken($app_base_color, 10%);
      }
    }
  }

  >li:last-child {
    border-bottom: none;
  }
}


/*
 * icons
 * -------------------------------------------------------------------------------------
**/

.icon {
 width: 30px;
 height: 30px;
 display: inline-block;
}
.icon-books {
 background: red;
}
.icon-users {
 background: yellow;
}
