/*
 * icons
 * -------------------------------------------------------------------------------------
**/
$icons_size: 30px;
$icons_size_small: 10px;
.icon {
 width: $icons_size;
 height: $icons_size;
 display: inline-block;
}
.icon.small {
  width: $icons_size_small;
  height: $icons_size_small;
  background-size: $icons_size_small !important;
}
.icon-close-light {
 background: url(../img/icons/close-light.png) no-repeat center;
 background-size: $icons_size;
 cursor: pointer;
}
.icon-books {
 background: url(../img/icons/books.png) no-repeat center;
 background-size: $icons_size;
}
.icon-users {
  background: url(../img/icons/users.png) no-repeat center;
  background-size: $icons_size;
}
.icon-statistics {
  background: url(../img/icons/statistics.png) no-repeat center;
  background-size: $icons_size;
}
.icon-database {
  background: url(../img/icons/database.png) no-repeat center;
  background-size: $icons_size;
}
