@import "~styles/variables";
@import "~styles/mixins/screens";

.page-no {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 10px;
  color: $gray;
  font-size: 1.1rem;
  @include phone {
    padding: 0 2px;
    font-size: 0.8rem;
  }
}

.page-container--white {
  background: #fff;
}

.page-container--night {
  background: #333;
  color: #fff;
}

.page-container--sepia {
  background: #fbf7f1;
}
