@import "~styles/variables";
@import "~styles/mixins/screens";

.page-no {
  position: absolute;
  left: 0;
  top: 0;
  width: 35px;
  color: $gray;
  font-size: 1rem;
  text-align: center;
  @include phone {
    font-size: 0.9rem;
  }
}

.page-container--white {
  background: #fff;
}

.page-container--night {
  background: #333;
  color: #fff;
}

.page-container--sepia {
  background: #fbf7f1;
}
