@import "~styles/variables";

.text-loading {
	// @extend .text-loading;
	margin: 30px 0;
	display: inline-block;
	line-height: 20px;
	position: relative;
}

.loading-wrap {
	text-align: left;
}

.loading-wrap--center {
	text-align: center;
}

.gif {
	width: 20px;
	height: auto;
	line-height: 20px;
	opacity: .6;
	margin-right: 3px;
	position: relative;
	top: 2px;
}
