.book-list-section {
  position: relative;

  a.more {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 32px;
  }
}

.section-title {
  // @extend .page-title;
  // composes: pagetitle from 'styles/shared/_helpers.scss';
  margin-top: 20px;
}