@import "~styles/variables";

.book-list-section {
  position: relative;
}

.more {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 32px;
}

.section-title {
  @extend %page-title;
  margin-bottom: 10px;

  & a {
    color: $text-dark;

    &:hover {
      color: $text;
    }
  }
}
