@import "styles/variables.css";

.book-list-section {
  position: relative;
}

.more {
  position: absolute;
  right: 0;
  top: 0;
  line-height: 32px;
}

.section-title {
  @apply --page-title;
  margin-bottom: 10px;
}
