/* Reset browser css
------------------------------------------------------------ */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
ol, ul { list-style: none; }
:link, :visited { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
img { max-width: 100%;width: auto;height: auto; }
a {	text-decoration: none; }
/*:focus { outline: 0; }*/


/* Make html5 tags in IE display as block level */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }


/* Clearfix
------------------------------------------------------------ */
.clearfix:before,.clearfix:after { content: "";display: table;}
.clearfix:after { clear: both;}
.clearfix { zoom: 1;}




/* general
------------------------------------------------------------ */
::selection {
	background: #d8d6cf;
	color: #222;
	text-shadow: none;
}

a {
	color: rgba(0,0,0,0.5);
	-moz-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
a:hover {
	color: rgba(0,0,0,0.7);
}
a:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}
a:active {
	color: rgba(0,0,0,0.3);
	-moz-transition: all 0 ease 0s;
	-o-transition: all 0 ease 0s;
	-webkit-transition: all 0 ease 0s;
	transition: all 0 ease 0s;
}
a:hover,
a:active {
	outline: 0;
}
small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic;
}

cite {
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	font-weight: bold;
	line-height: 1.5em;
	color: inherit;
	text-rendering: optimizelegibility;
	display: block;
}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
	font-weight: normal;
}

h1,
h2,
h3 {
	line-height: 2em;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 16px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 14px;
}

h1 small {
	font-size: 26px;
}

h2 small {
	font-size: 18px;
}

h3 small {
	font-size: 14px;
}

h4 small {
	font-size: 14px;
}

h5 small {
	font-size: 14px;
}

h6 small {
	font-size: 14px;
}

hr {
	border: none;
	border-top: 1px dotted #999;
	margin: 20px 0;
}

br {
	height: 15px;
	display: block;
	content: "";
}