doctype html
html
  head
    title Readr
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    base(href="/")
    meta(name="description" content="The next generation online reading app.")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    
    link(rel="shortcut icon" href="/built/img/favicon.png")
    link(type='text/css' rel='stylesheet' href='/built/css/vendor.built.css')

    if env == "production"
      link(type='text/css' rel='stylesheet' href='/built/css/app.built.css')

    else
      link(type='text/css' rel='stylesheet' href='/built/css/app.css')

  body
    #root.app !{html}
    
    script.
      var __INITIAL_STATE__ = '!{initialState}'

    //- script(src="/vendors/lodash/lodash.core.min.js")

    if env == "production"
      script(src="/vendors/polyfills/fetch.js")
      script(src="/vendors/polyfills/babel-polyfill.min.js")
      script(src="/built/js/app.built.js")

    else
      script(src="/built/js/app.js")
