doctype html
html
  head
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" user-scalable="no">
    
    link(rel="stylesheet" href="/lib/normalize.css")
    link(rel="stylesheet" href="/lib/animate.css")
    link(rel="stylesheet" href="/dist/css/main.css")
    
    title= title

  body(class="view")
    .wrapper
      .functions(style="display:none;")
        .container
          span.home
          span.title= book_name
          span.loc NA/NA
      .pages
        .container
          ul

    script(src="/lib/jquery/jquery-2.2.0.min.js")
    script(src="/lib/jquery/jquery.easing-1.3.js")
    script(src="/lib/jquery/jquery.mobile.custom.min.js")
    script(src="/dist/js/showdia.min.js")
    script(src="/dist/js/book.min.js")
    script.
      var book = new Book({
        bookId: "#{book_id}",
        progress: 0.3,
        fx: "fadeIn",
        view: {
          pageHeight: 800
        }
      });
      
