extends layouts/default

block content
  .mui-container
    #book-box
      .book-box
        h1.page-title 书籍列表
        ul.book-list.clearfix
          li(v-for="book in books")
            a(href="/books/{{ book._id }}")
              .book-cover
                img(src="book.book_cover")
              .book-meta
                span.title {{ book.book_name }}
                span.book-author {{ book.book_author }}

  script(src="/lib/backbone/backbone.js")
  script(src="/dist/js/book-list-backbone.min.js")
