extends layouts/default

block content
  .mui-container
    #book-box

  script(src="/lib/react/react.js")
  script(src="/lib/react/react-dom.js")
  script(src="/lib/marked.js")
  script(src="/dist/js/book-list-react.js")
