doctype html
html
  head
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>react comment form</title>
    <link href="/lib/normalize.css" rel="stylesheet">
    <style>
    </style>

  body.test
    #content

    <script src="/lib/jquery/jquery-2.1.4.min.js"></script>
    <script src="/lib/react/react.min.js"></script>
    <script src="/lib/react/react-dom.min.js"></script>
    <script src="/lib/marked.js"></script>
    <script src="/dist/js/comments.js"></script>
