doctype html
html
  head
    title Readr
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    base(href="/")
    meta(name="description" content="The next generation online reading app.")
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
    
    link(rel="shortcut icon" href="/built/img/favicon.png")
    link(type='text/css' rel='stylesheet' href='/built/css/vendor.built.css')

    if env == "development"
      link(type='text/css' rel='stylesheet' href='/built/css/index.css')

    else
      link(type='text/css' rel='stylesheet' href='/built/css/index.built.css')

  body
    #root !{html}
    
    script.
      window.__INITIAL_STATE__ = '!{initialState})'
      window.process = { env: { NODE_ENV: '#{env}'}}

    script(src="/vendors/polyfills/babel-polyfill.min.js")
    script(src="/vendors/polyfills/fetch.js")
    script(src="/vendors/lodash/lodash.core.min.js")

    if env == "development"
      script(src="/built/js/index.js")

    else
      script(src="/built/js/index.built.js")
