doctype html
html
  head
    title= title
    link(rel='stylesheet' href='/lib/normalize.css')
    link(rel='stylesheet' href='/dist/css/main.css')
    script(src="/lib/jquery/jquery-2.1.4.min.js")
  body
    block content

    