@lightbordercolor: rgba(255, 255, 255, 0.5);
@darkbordercolor: #e6e6e6;
@darkbordercolor: rgba(0,0,0,0.1);
@linkcolor: #2f8df6;
@lightgray: #959595;
@basecolor: #7171ff;
@basecolor: #000;
@graydark: #333;


@textcolor: #000;
@subtextcolor: #666;
@gray: #999;
@red: #e34040;
@blue: #2f8df6;
@bordercolor: #e6e6e6;

@transblack1: rgba(0, 0, 0, 0.1);
@transblack2: rgba(0, 0, 0, 0.2);
@transblack3: rgba(0, 0, 0, 0.3);
@transblack4: rgba(0, 0, 0, 0.4);
@transblack5: rgba(0, 0, 0, 0.5);
@transblack6: rgba(0, 0, 0, 0.6);
@transblack7: rgba(0, 0, 0, 0.7);
@transblack8: rgba(0, 0, 0, 0.8);
@transblack9: rgba(0, 0, 0, 0.9);

@transwhite1: rgba(255, 255, 255, 0.1);
@transwhite2: rgba(255, 255, 255, 0.2);
@transwhite3: rgba(255, 255, 255, 0.3);
@transwhite4: rgba(255, 255, 255, 0.4);
@transwhite5: rgba(255, 255, 255, 0.5);
@transwhite6: rgba(255, 255, 255, 0.6);
@transwhite7: rgba(255, 255, 255, 0.7);
@transwhite8: rgba(255, 255, 255, 0.8);
@transwhite9: rgba(255, 255, 255, 0.9);


@bgcolor: rgba(227,224,226,1);



.sans-font-1 {
	font-family: 'pt sans', "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","microsoft yahei",sans-serif;
}
.serif-font-1 {
	font-family: 'pt sans', "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","microsoft yahei",sans-serif;
}
.border-top-bottom-1 {
	border-top: 1px solid @darkbordercolor;
	border-bottom: 1px solid @darkbordercolor;
}
.border-top-1 {
	border-top: 1px solid @darkbordercolor;
}
.border-bottom-1 {
	border-bottom: 1px solid @darkbordercolor;
}








// yeah this is cooler
@textcolor: #333;
@subtextcolor: #666;
@gray: #999;
@red: #e34040;
@blue: #2f8df6;
@bordercolor: #e6e6e6;

@transblack1: rgba(0, 0, 0, 0.1);
@transblack2: rgba(0, 0, 0, 0.2);
@transblack3: rgba(0, 0, 0, 0.3);
@transblack4: rgba(0, 0, 0, 0.4);
@transblack5: rgba(0, 0, 0, 0.5);
@transblack6: rgba(0, 0, 0, 0.6);
@transblack7: rgba(0, 0, 0, 0.7);
@transblack8: rgba(0, 0, 0, 0.8);
@transblack9: rgba(0, 0, 0, 0.9);

@transwhite1: rgba(255, 255, 255, 0.1);
@transwhite2: rgba(255, 255, 255, 0.2);
@transwhite3: rgba(255, 255, 255, 0.3);
@transwhite4: rgba(255, 255, 255, 0.4);
@transwhite5: rgba(255, 255, 255, 0.5);
@transwhite6: rgba(255, 255, 255, 0.6);
@transwhite7: rgba(255, 255, 255, 0.7);
@transwhite8: rgba(255, 255, 255, 0.8);
@transwhite9: rgba(255, 255, 255, 0.9);

.border-top-bottom-1 {
	border-top: 1px solid @bordercolor;
	border-bottom: 1px solid @bordercolor;
}
.border-top-1 {
	border-top: 1px solid @bordercolor;
}
.border-bottom-1 {
	border-bottom: 1px solid @bordercolor;
}
.sans-font-1 {
	font-family: "open sans","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","microsoft yahei",sans-serif;
}
.serif-font-1 {
	font-family: Georgia, serif;
}
.bluelink {
	color: @blue;
	border-color: @blue !important;
	&:hover {
		color: @textcolor;
		border-color: @textcolor !important;
	}
}
.blacklink {
	color: @textcolor;
	border-color: @textcolor !important;
	&:hover {
		color: @gray;
		border-color: @gray !important;
	}
}
