@import (reference) 'ref.less';

.main {
	background: @bgcolor;
	min-height: 500px;
}

.branding {
	font-size: 1.4em;
	background: #000;

	.navbar-default {
		background: transparent;
		border: none;
		margin: 0;
		border-radius: 0;
		padding: 10px 0;
		.navbar-toggle {
			border-color: transparent;
			background: transparent !important;
		}
	}
	.logo {
		margin: 0;
		margin-right: 10px;
		padding: 0;
		a {
			height: 50px;
			text-indent: -999em;
			display: block;
			background: url(../img/logo.png) no-repeat left;
			background-size: 60px;
			width: 80px;

		}
	}
	.navbar-collapse {
		.nav {
			// padding: 10px 0;
		}
	}
	ul.navbar-nav {
		li {
			font-size: 15px;
			>a {
				padding: 15px 15px;
				color: #999;
			}
			>a:hover {
				color: #ddd;
			}
		}
		li.dropdown.open {
			a {
				padding-left: 15px;
				background: @basecolor;
				color: #999;
			}
			a.dropdown-toggle {
				background: transparent !important;
				color: #eee !important;
			}
			a:hover {
				background: #444;
				color: #eee;
			}
			ul.dropdown-menu {
				top: 60px;
				padding-bottom: 10px;
				padding-top: 0;
				background: @basecolor;
				border-top: none;
				border-radius: 0;
				border-bottom-left-radius: 5px;
				border-bottom-right-radius: 5px;
				border-color: @darkbordercolor;
				border: none;
				min-width: 160px;
				li {
					a {
						padding: 8px 15px;
					}
				}
				.divider {
					background: #555;
				}
			}
		}
	}
}

.colophon {
	padding: 20px 0 60px;
	font-size: 1.4em;
	color: @lightgray;
}

.share-form {
	.form-control {
		font-size: 2em;
		padding: 15px;
	}
	.btn {
		padding: 12px 30px;
	}
}

.new-books {
	h3 {
		font-size: 20px;
		padding-bottom: 20px;
		margin-bottom: 15px;
		font-weight: normal;
		border-bottom: 1px solid #bbb;
	}
	.img-wrap {
		img {
			max-width: 100%;
		}
	}
}

.post-list {
	font-size: 1.4em;
	margin: 40px 0;
	.post {
		margin: 0 0 30px 0;
		position: relative;
		.post-wrap {
			padding: 16px 20px;
			background: #fff;
			position: relative;
		}
		.post-meta {
			overflow: hidden;
			margin-bottom: 10px;
			.author {
				float: left;
				margin-right: 10px;
				a {
					.blacklink;
				}
			}
			.date {
				float: left;
				color: @lightgray;
			}
			.user-avatar {
				float: left;
				// position: absolute;
				width: 22px;
				margin-right: 5px;
				border-radius: 300px;
				overflow: hidden;
				// box-shadow: 0 2px 5px rgba(0,0,0,0.2);
				img {
					width: 100%;
					display: block;
				}
			}
		}
		.pointer {
			width: 36px;
			height: 18px;
			background: url(../img/pointer.png) left no-repeat;
			background-size: 36px;
			position: absolute;
			left: -18px;
			top: 0;
		}
	}
	.post:last-child {
		border: none;
	}
}

// home /////////////////////////////////////////////////////////////////////////
.page-home {
	.main {
		padding: 40px 0;
	}
}



// library & shelf /////////////////////////////////////////////////////////////////////////
ul.book-list {
	list-style: none;
	// overflow: hidden;
	padding: 0;
	margin: 0;

	li {
		float: left;
		-moz-transition: all 0.2s ease 0s;
		-o-transition: all 0.2s ease 0s;
		-webkit-transition: all 0.2s ease 0s;
		transition: all 0.2s ease 0s;
		font-size: 1.4em;
		position: relative;
		margin-right: 20px;
		a {
			display: block;
			padding-top: 10px;
			position: relative;
			left: -17px;
			.book-cover {
				position: relative;
				margin: 0 auto;
				width: 134px;
				height: 184px;
				top: 0;
				background: url(../img/shadow.png) no-repeat top;
				-moz-transition: all 0.2s ease 0s;
				-o-transition: all 0.2s ease 0s;
				-webkit-transition: all 0.2s ease 0s;
				transition: all 0.2s ease 0s;
				position: relative;
				img {
					width: 100px;
					height: 150px;
					display: block;
					position: absolute;
					border: none;
					left: 17px;
					top: 7px;
					border-radius: 4px;
				}        
			}
			.book-cover:hover {
				top: -7px; 
			}
		}
		a:hover img {
			opacity: .96;
		}
		a:active {
			opacity: .8;
		}

		span {
			width: 100%;
			text-align: left;
			display: block;
			line-height: 1.5em;
		}
		span.book-author {
			font-size: 1em;
			color: #999;
		}
		span.book-name {
			font-size: 17px;
			width: 90%;
		}
		span.add-book {
			color: #999;
			a {
				left: 0;
				padding: 0;
			}
		}
		span.remove-book {
			margin-top: .5em;
			a {
				left: 0;
				text-align: left;
				width: 60%;
				line-height: 2em;
				padding: 0 0 0 2em;
				// margin: 0 auto;
				color: #e80808;
				text-shadow: none;
				font-size: 1em;
				background: url(../img/delete.png) no-repeat .6em .6em;
				border: 1px solid #e80808;
				background-size: .85em;
				border-radius: 3px;
			}
		}
	}
}
.page-library,
.page-shelf {
	.hint {
		font-size: 18px;
		color: @subtextcolor;
	}
	.main {
		padding: 40px 0;
	}
	.functions {
		display: none;
		width: 100%;
		position: fixed;
		bottom: 30px;
	}
	form {
		position: relative;
		label {
			display: block;
			font-size: 1em;
			color: #666;
			margin-bottom: 10px;
		}
		.btn-upload {
		}
		input[type='file'] {
			background: red;
			border: none;
			width: 86px;
			height: 32px;
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
		}
	}
}


// profile /////////////////////////////////////////////////////////////////////////
.profile {
	margin-bottom: 30px;
	.profile-dash {
		background: #f9f9f9;
		// .border-top-1;
		.border-bottom-1;
		ul {
			float: left;
			overflow: hidden;
			li {
				float: left;
				font-size: 1.4em;
				line-height: 50px;
				margin-right: 20px;
				a {
					color: @lightgray;
				}
				a:hover {
					color: @basecolor;
				}
			}
		}
		.follow {
			float: right;
			line-height: 50px;
			a {
				background: @blue;
				color: #fff;
				font-weight: normal;
				font-size: 14px;
				padding: 8px 15px;
				margin-left: 10px;
			}
		}
	}
	.profile-head {
		text-align: center;
		margin-top: -40px;
		.username {
			font-size: 2em;
			color: @textcolor
		}
		.tagline {
			font-size: 1.4em;
		}
	}
}
.following.profile {
	.profile-dash {
		ul {
			li:nth-child(1) {
				a {
					color: @basecolor;
					font-weight: bold;
				}
			}
		}
	}
}
.followers.profile {
	.profile-dash {
		ul {
			li:nth-child(2) {
				a {
					color: @basecolor;
					font-weight: bold;
				}
			}
		}
	}
}
.shares.profile {
	.profile-dash {
		ul {
			li:nth-child(3) {
				a {
					color: @basecolor;
					font-weight: bold;
				}
			}
		}
	}
}


.page-profile {
	.post-list {
		margin-top: 0;
	}
	.post {
		margin-left: 0;
	}
	.user-avatar {
		width: 80px;
		height: 80px;
		border-radius: 80px;
		overflow: hidden;
		display: inline-block;
		// box-shadow: 0 2px 5px rgba(0,0,0,0.2);
		// border: 1px solid #000;
		img {
			width: 100%;
		}
	}
	ul.user-list {
		li.user .wrap {
			background: #fff;
			font-size: 1.8em;
			overflow: hidden;
			height: 120px;
			padding: 0 20px;
			margin-bottom: 10px;
			position: relative;
			padding-left: 130px;
			.user-avatar {
				position: absolute;
				left: 20px;
				top: 50%;
				margin-top: -40px;
			}
			.username {
				margin-right: 20px;
				margin-top: 35px;
			}
			ul.user-info {
				float: left;
				overflow: hidden;
				color: @lightgray;
				font-size: .8em;
				li {
					margin-right: 15px;
					float: left;
				}
			}
		}
	}
}



// login & signup /////////////////////////////////////////////////////////////////////////
.page-login,
.page-sign-up {
	form {
		max-width: 500px;
		margin: 50px auto;
		font-size: 1.4em;
		h1 {
			margin-bottom: 20px;
			font-size: 20px;
			font-weight: bold;
		}
		.btn {
			display: block;
			margin-bottom: 20px;
		}
		p {
			font-size: 16px;
		}
	}
}



@media (max-width: 700px) {
	.new-books {
		display: none;
	}
	.home {
		.wrapper {
			width: 640px;
			font-size: 1.5em;
			.branding .container h1.logo {
				padding: 1em 0 0 1em;
				color: #aaa;
			}

			ul.book-list {
				/*margin-left: 0;*/
				li {
					height: 360px;
					.book-name {
						max-width: 150px;
					}
				}
			}
		}
		form.upload {
			display: none;
		}
	}
	.book-list {
		li {
			margin-right: 10px !important;
		}
	}
		
}