@import "~styles/variables";

:global body.page-preference {
  background: $bg-gray;
}

.settings {
  .options {
    margin-top: -35px;
  }

  .option {
    padding: 30px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
    position: relative;

    h2 {
      color: $text-dark;
      font-size: 1.1rem;
      margin: 0;
      margin-bottom: 5px;
      font-weight: normal;
    }

    &:last-child {
      display: none;
    }
  }

  .option-input,
  .option-desc {
    display: block;
  }

  .user-avatar {
    width: 100px;
    height: 100px;
  }

  .edit,
  .switcher {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -19px;
  }

  .switcher {
    margin-top: -8px;
  }

  .edit {
    border: 1px solid $gray;
    padding: 6px 16px;
    border-radius: 100px;
    cursor: pointer;
    display: none;
  }
}
