

// Colophon

.colophon {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0.9rem;
  padding: 30px 0;
  color: $text_l;
}


// Console left sidebar

.sidebar-left {
  position: fixed;
  left: 0;
  top: $branding_height;
  height: 100%;
  width: $sidebar_width;
}


// Book list

$width: 134px;
ul.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
}
li.book {
  float: left;
  transition: all 0.2s ease 0s;
  position: relative;
  width: 150px;
  padding: 0 10px;
  a {
    display: block;
    padding-top: 10px;
    position: relative;
  }
  a:hover img {
    opacity: .96;
  }
  a:active {
    opacity: .8;
  }
  .book-meta {
    span {
      width: 100%;
      text-align: left;
      display: block;
      line-height: 1.5;
      margin-left: 17px;
      width: $width;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    span.book-author {
      color: $text_l;
    }
    span.book-name {
    }
  }
  @include make_hover_fadein(".book-info-popup", 0.2s, 0.8s);
}
.book-cover {
  position: relative;
  margin: 0;
  width: $width;
  height: 184px;
  top: 0;
  background: url(img/shadow.png) no-repeat top;
  transition: all 0.2s ease 0s;
  position: relative;
  img {
    width: 100px;
    height: 150px;
    display: block;
    position: absolute;
    border: none;
    left: 17px;
    top: 7px;
    border-radius: 4px;
  }
  &:hover {
    top: -7px;
  }
}


// Book info popup

.book-info-popup {
  position: absolute;
  z-index: 999;
  left: $width;
  top: 0;
  width: 300px;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
  padding: 10px 20px 0;
  border: 1px solid $gray_d;
  .description {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    background: $gray_l;
    line-height: 1.6;
    max-height: 100px;
    overflow: hidden;
  }
}


// candy box

.candy-box {
  h3.box-title {
    font-size: 1.2rem;
    font-weight: normal;
    color: $text_d;
  }
  ul {
    li {
      border-top: 1px solid $gray_l;
      a {
        color: $text_n;
        line-height: 2.5;
        &:hover {
          color: $link_n;
        }
      }
    }
  }
}


// book list section

.book-list-section {
  position: relative;

  .section-title {
    @extend .page-title;
    margin-top: 20px;
  }

  a.more {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 32px;
  }
}
