@import "styles/_variables";
@import "styles/mixins/screens";

$alert-width: 700px;
$alert-succes: #72efa8;
$alert-success-text: #204d33;
$alert-error: red;
$alert-error-text: #fff;
$alert-warning: orange;
$alert-warning-text: darken(orange, 50%);

.alerts {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  top: 10px;
  left: 0;
  z-index: 9999;
} 

.alert {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  position: relative;
  box-shadow: $shadow-y1;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  width: $alert-width;
  margin: 0 auto 10px;

  @include phone {
    max-width: 100%;
  }
}

.content {
  overflow: hidden;
  padding: 0 30px;
}

.alert-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 11px;
  display: inline-block;
}

.alert--success {
  @extend .alert;
  background: $alert-succes;
  color: $alert-success-text;
}

.alert--error {
  @extend .alert;
  background: $alert-error;
  color: $alert-error-text;
}

.alert--warning {
  @extend .alert;
  background: $alert-warning;
  color: $alert-warning-text;
}
