.enter {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .3s;
}

.enterActive {
  transform: translateY(0);
  opacity: 1;
}

.leave {
  transform: translateY(0);
  opacity: 1;
  transition: all .3s;
}

.leaveActive {
  transform: translateY(-100%);
  opacity: 0;
}
