extends layouts/default

block content
  .mui-container
    h1.page-title 加入 readr

    form(action="/signup" method="post")
      .mui-textfield.mui-textfield--float-label
        input(name="username" type="text")
        label 用户名
      .mui-textfield.mui-textfield--float-label
        input(name="password" type="password")
        label 密码
      button.mui-btn.mui-btn--raised(type="submit") 注册
