@import "~styles/variables";
@import "~styles/mixins/screens";

.sub {
  color: $text-dark;
  font-size: 1.2rem;
  position: relative;
  top: 1px;
  &:hover {
    color: $text-dark;
  }
}

.page-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: $text-dark;
  margin-top: 30px;
}

.posts {
  margin: 30px 0;
}

.post {
  margin: 80px 0;
  @include phone {
    margin: 30px 0;
  }
  line-height: 1.6;
  img {
    max-width: 100%;
    height: auto;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 20px 0 3px 0;
    color: $text-dark;
  }
  h4, h5, h6 {
    font-size: 1rem;
  }
  p {
    margin: 0 0 15px 0;
  }
}

.title-link {
  color: $text-dark;
}

.post .post-title {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: bold;
  margin: 10px 0;
}

.time {
  color: $text-light;
  margin-bottom: 10px;
}
