@import "~styles/variables";

.header {
  text-align: center;
}

.title {
  font-size: 1.6rem;
  color: $dark;
}

.body {
  text-align: center;
  padding: 50px 0;
  font-size: 1.1rem;
  min-height: 200px;
}
