@import "~styles/variables";
@import "~styles/mixins/screens";

.branding {
  min-height: $branding-height;
  background: #fff;
  font-weight: normal;
  box-shadow: $shadow-x1;
  border-bottom: 1px solid $border-color-x2;

  @include tablet {
    .nav-label {
      display: none;
    }

    .nav-item {
      margin-left: 15px;
    }

    .dropdown-recent-reading {
      display: none;
    }
  }
}

.sub-name {
  float: left;
  margin-left: 5px;
  display: inline-block;
  line-height: $branding-height;
  height: $branding-height;
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 999;
}

.username,
.nav-links {
  line-height: $branding-height;
}

.nav {
  position: relative;
  color: $text;
  line-height: $branding-height;
  display: inline-block;
}

.dropdown-recent-reading {
  margin-right: 15px;
  display: inline-block;
}

.nav--user {
  @extend .nav;
  float: right;

  .nav-item {
    margin-left: 15px;
  }
}

.nav-link {
  :global .icon {
    position: relative;
    top: 3px;
    margin-right: 5px;
  }
}

.nav-item {
  display: inline-block;
  margin-left: 35px;
}

.active {
  opacity: .5 !important;
  cursor: default;

  a {
    cursor: inherit;
    opacity: 1 !important;
    color: $text !important;
  }
}

.recent-reading {
  margin-right: 15px;
}
