@import "styles/variables.css";

:root {
  --background: black;
}

.branding {
  min-height: var(--branding-height);
  background: var(--background);
}

.dropdown-menu {
  position: absolute;;
  top: 60px;
  right: 0;
  z-index: 999;
}

.username,
.nav-links {
  line-height: var(--branding-height);
}

.nav {
  position: relative;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  line-height: var(--branding-height);
  float: left;
}

.dropdown-recent-reading {
  margin-right: 15px;
}

.nav--user {
  composes: nav;
  float: right;
}

.nav-link {
  padding: 0 5px;
  composes: light-link from 'styles/base.css'
}

.nav-item {
  display: inline-block;
}

.recent-reading {
  margin-right: 15px;
}
