/*@import "styles/variables.css";*/

:root {
  --branding-height: 60px;
  --background: black;
}

.logo-wrap {
  margin: 0;
  line-height: var(--branding-height);
  color: #fff;
  margin-right: 15px;
  margin-top: -3px;
  float: left;
}

.logo {
  background: url(logo.png) no-repeat left;
  width: 70px;
  height: var(--branding-height);
  background-size: 70px;
  text-indent: -999em;
  display: inline-block;
}

.branding {
  min-height: var(--branding-height);
  background: var(--background);
}

.dropdown-menu {
  position: absolute;;
  top: 60px;
  right: 0;
  z-index: 999;
}

.username,
.nav-links {
  line-height: var(--branding-height);
}

.nav {
  position: relative;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  line-height: var(--branding-height);
  float: left;
}

.dropdown-recent-reading {
  margin-right: 15px;
}

.nav--user {
  composes: nav;
  float: right;
}

.nav-link {
  padding: 0 5px;
  composes: light-link from 'styles/base.css'
}

.nav-item {
  display: inline-block;
}

.recent-reading {
  margin-right: 15px;
}
