@import "styles/_variables";

$background: black;

.branding {
  min-height: $branding-height;
  background: $background;
}

.dropdown-menu {
  position: absolute;;
  top: 60px;
  right: 0;
  z-index: 999;
}

.username,
.nav-links {
  line-height: $branding-height;
}

.nav {
  position: relative;
  color: #fff;
  cursor: pointer;
  padding: 0 10px;
  line-height: $branding-height;
  float: left;
}

.dropdown-recent-reading {
  margin-right: 15px;
}

.nav--user {
  @extend .nav;
  float: right;
}

.nav-link {
  padding: 0 5px;
  @extend %light-link;
}

.nav-item {
  display: inline-block;
}

.recent-reading {
  margin-right: 15px;
}
