html {
  font-size: 16px; }

body {
  font-size: 1rem;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased; }

.no-csschunit body {
  font-family: "Microsoft Yahei", Arial, sans-serif; }

::selection {
  background: rgba(47, 141, 246, 0.3);
  color: #666;
  text-shadow: none; }

a,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

a {
  color: #2c65c7;
  transition: all .2s ease-in; }
  a:hover {
    color: #4c83e0; }
  a:active {
    color: #4b8cff;
    transition: all 0s; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.fade-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in; }

.fade-enter.fade-enter-active {
  opacity: 1; }

.fade-leave {
  opacity: 1;
  transition: opacity .3s ease-in; }

.fade-leave.fade-leave-active {
  opacity: 0; }

.slide-enter {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .3s; }

.slide-enter.slide-enter-active {
  transform: translateY(0);
  opacity: 1; }

.slide-leave {
  transform: translateY(0);
  opacity: 1;
  transition: all .3s; }

.slide-leave.slide-leave-active {
  transform: translateY(-100%);
  opacity: 0; }

.sep {
  margin: 0 5px;
  color: #ddd; }

.left {
  float: left; }

.right {
  float: right; }

.hidden {
  display: none; }

.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

.center {
  text-align: center; }

.container-fluid {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative; }

.content-container {
  width: 500px;
  margin: 0 auto; }
  @media (max-width: 540px) {
    .content-container {
      width: 100%; } }

.text-overflow-hidden {
  text-overflow: ellipsis;
  white-space: nowrap; }

.z1, .btn:hover, .btn:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.z2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.z3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.z4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

.z5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

.badge-dark {
  background: #828de4;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 0.8rem;
  color: #acb3ed;
  color: #1B267F;
  margin: 0 5px; }

.tag, .selectize-tag {
  background: #1b1b1b;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  color: #fff;
  display: inline-block; }
  .tag .iconfont, .selectize-tag .iconfont {
    margin: 0 5px; }

.tag-l {
  background: #b7c0c7;
  border-radius: 3px;
  padding: 6px 20px;
  margin: 0 15px 15px 0;
  color: #fff;
  display: inline-block; }
  .tag-l .icon {
    margin: 0 5px; }
  .tag-l.active {
    background: #1172a5; }

.circled {
  min-width: 19px;
  height: 19px;
  box-sizing: border-box;
  padding: 1px 4px 0;
  line-height: 19px;
  background: #00bcd5;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  text-align: center; }

.btn {
  color: #fff;
  background-color: #3c72dd;
  border-color: #3c72dd;
  padding: 3px 12px;
  font-size: 1rem;
  border-radius: 3px;
  transition: all 0.2s 0s;
  outline: none;
  border: 1px solid transparent;
  display: inline-block;
  margin: 5px; }
  .btn:hover {
    color: #fff;
    background-color: #2258c4;
    border-color: #2154bb; }
  .btn:focus, .btn.focus {
    color: #fff;
    background-color: #2258c4;
    border-color: #2154bb;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #6791e5; }
  .btn:active, .btn.active {
    color: #fff;
    background-color: #2258c4;
    border-color: #2154bb;
    background-image: none;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #6791e5; }
    .btn:active:hover, .btn:active:focus, .btn:active.focus, .btn.active:hover, .btn.active:focus, .btn.active.focus {
      color: #fff;
      background-color: #1d4ba5;
      border-color: #173b83;
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px #6791e5 !important; }
  .btn.disabled:focus, .btn.disabled.focus, .btn:disabled:focus, .btn:disabled.focus {
    background-color: #3c72dd;
    border-color: #3c72dd; }
  .btn.disabled:hover, .btn:disabled:hover {
    background-color: #3c72dd;
    border-color: #3c72dd; }
  .btn.disabled, .btn:disabled {
    cursor: not-allowed;
    opacity: .65; }
  .btn:active:hover {
    box-shadow: none; }

.btn.btn-blue {
  color: #fff;
  background-color: #3c72dd;
  border-color: #3c72dd; }
  .btn.btn-blue:hover {
    color: #fff;
    background-color: #2258c4;
    border-color: #2154bb; }
  .btn.btn-blue:focus, .btn.btn-blue.focus {
    color: #fff;
    background-color: #2258c4;
    border-color: #2154bb;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #6791e5; }
  .btn.btn-blue:active, .btn.btn-blue.active {
    color: #fff;
    background-color: #2258c4;
    border-color: #2154bb;
    background-image: none;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #6791e5; }
    .btn.btn-blue:active:hover, .btn.btn-blue:active:focus, .btn.btn-blue:active.focus, .btn.btn-blue.active:hover, .btn.btn-blue.active:focus, .btn.btn-blue.active.focus {
      color: #fff;
      background-color: #1d4ba5;
      border-color: #173b83;
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px #6791e5 !important; }
  .btn.btn-blue.disabled:focus, .btn.btn-blue.disabled.focus, .btn.btn-blue:disabled:focus, .btn.btn-blue:disabled.focus {
    background-color: #3c72dd;
    border-color: #3c72dd; }
  .btn.btn-blue.disabled:hover, .btn.btn-blue:disabled:hover {
    background-color: #3c72dd;
    border-color: #3c72dd; }

.btn.btn-orange {
  color: #fff;
  background-color: #ee9333;
  border-color: #3c72dd; }
  .btn.btn-orange:hover {
    color: #fff;
    background-color: #dc7a12;
    border-color: #2154bb; }
  .btn.btn-orange:focus, .btn.btn-orange.focus {
    color: #fff;
    background-color: #dc7a12;
    border-color: #2154bb;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #f2ac62; }
  .btn.btn-orange:active, .btn.btn-orange.active {
    color: #fff;
    background-color: #dc7a12;
    border-color: #2154bb;
    background-image: none;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #f2ac62; }
    .btn.btn-orange:active:hover, .btn.btn-orange:active:focus, .btn.btn-orange:active.focus, .btn.btn-orange.active:hover, .btn.btn-orange.active:focus, .btn.btn-orange.active.focus {
      color: #fff;
      background-color: #bb6710;
      border-color: #173b83;
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px #f2ac62 !important; }
  .btn.btn-orange.disabled:focus, .btn.btn-orange.disabled.focus, .btn.btn-orange:disabled:focus, .btn.btn-orange:disabled.focus {
    background-color: #ee9333;
    border-color: #3c72dd; }
  .btn.btn-orange.disabled:hover, .btn.btn-orange:disabled:hover {
    background-color: #ee9333;
    border-color: #3c72dd; }

.btn.btn-red {
  color: #fff;
  background-color: #d42020;
  border-color: #3c72dd; }
  .btn.btn-red:hover {
    color: #fff;
    background-color: #a81919;
    border-color: #2154bb; }
  .btn.btn-red:focus, .btn.btn-red.focus {
    color: #fff;
    background-color: #a81919;
    border-color: #2154bb;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #e34444; }
  .btn.btn-red:active, .btn.btn-red.active {
    color: #fff;
    background-color: #a81919;
    border-color: #2154bb;
    background-image: none;
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px #e34444; }
    .btn.btn-red:active:hover, .btn.btn-red:active:focus, .btn.btn-red:active.focus, .btn.btn-red.active:hover, .btn.btn-red.active:focus, .btn.btn-red.active.focus {
      color: #fff;
      background-color: #891515;
      border-color: #173b83;
      box-shadow: 0 0 0 1px #fff, 0 0 0 3px #e34444 !important; }
  .btn.btn-red.disabled:focus, .btn.btn-red.disabled.focus, .btn.btn-red:disabled:focus, .btn.btn-red:disabled.focus {
    background-color: #d42020;
    border-color: #3c72dd; }
  .btn.btn-red.disabled:hover, .btn.btn-red:disabled:hover {
    background-color: #d42020;
    border-color: #3c72dd; }

.dialog {
  position: fixed;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  z-index: 999;
  background: #fff;
  padding: 30px; }
  .dialog p {
    font-size: 1.2rem; }

ul.dropdown-menu {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1rem;
  min-width: 150px;
  text-align: left;
  background: #1b1b1b; }
  ul.dropdown-menu > li {
    border-bottom: 1px solid #353535;
    padding: 5px 0; }
    ul.dropdown-menu > li a {
      display: block;
      background: #1b1b1b;
      padding: 0 10px; }
      ul.dropdown-menu > li a:hover {
        background: #353535; }
      ul.dropdown-menu > li a:active {
        background: #020202; }
  ul.dropdown-menu > li:last-child {
    border-bottom: none; }

input {
  margin: 0;
  padding: 0; }

.input-wrap {
  margin: 10px 0; }
  .input-wrap input {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ddd;
    transition: border-color .3s;
    line-height: 25px;
    outline: none; }
    .input-wrap input:focus {
      border-color: #1B267F; }

textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  outline: none;
  height: 100px;
  transition: border-color .3s; }
  textarea:focus {
    border-color: #1B267F; }

/*
 * icons
 * -------------------------------------------------------------------------------------
**/
.icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block; }

.icon.small {
  width: 10px;
  height: 10px;
  background-size: 10px !important; }

.icon-close-light {
  background: url(img/icons/close-light.png) no-repeat center;
  background-size: 30px;
  cursor: pointer; }

.icon-books {
  background: url(img/icons/books.png) no-repeat center;
  background-size: 30px; }

.icon-users {
  background: url(img/icons/users.png) no-repeat center;
  background-size: 30px; }

.icon-statistics {
  background: url(img/icons/statistics.png) no-repeat center;
  background-size: 30px; }

.icon-database {
  background: url(img/icons/database.png) no-repeat center;
  background-size: 30px; }

.icon-font {
  background: url(img/icons/font.png) no-repeat center;
  background-size: 30px; }

.icon-back {
  background: url(img/icons/back.png) no-repeat center;
  background-size: 15px; }

.text-loading {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 100px 0; }

.loading-wrap {
  background: #fff; }
  .loading-wrap .icon-loading {
    width: 200px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -100px;
    background: url(img/loading.gif) no-repeat center;
    z-index: 999; }

.modal {
  background: #fff; }

.notifications {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  top: 10px;
  left: 50%;
  z-index: 9999; }

.notification {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  margin-bottom: 10px;
  position: relative; }
  .notification .icon-close {
    cursor: pointer;
    background: #1B267F;
    position: absolute;
    right: 10px;
    top: 10px; }

.notification--success {
  background: #1b1b1b;
  color: #fff; }

.notification--error {
  background: red;
  color: #fff; }

.selectize-input {
  min-width: 300px;
  border: 1px solid #ddd;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 5px 5px 0px;
  transition: border-color .3s;
  cursor: text; }
  .selectize-input input {
    border: none;
    outline: none;
    line-height: 25px;
    margin-bottom: 5px; }
  .selectize-input ul.query-results {
    margin-bottom: 5px; }
    .selectize-input ul.query-results li {
      padding: 0 3px;
      line-height: 2;
      cursor: pointer; }
      .selectize-input ul.query-results li:hover {
        background: #f2f2f2; }
  .selectize-input.focus {
    border-color: #1B267F; }

.selectize-tag {
  background: #b7c0c7; }
  .selectize-tag .iconfont {
    font-size: 0.8rem; }

.branding {
  min-height: 60px;
  background: #1b1b1b; }
  .branding .logo {
    margin: 0;
    line-height: 60px;
    color: #fff;
    margin-right: 15px;
    margin-top: -3px; }
    .branding .logo a {
      background: url(img/logo.png) no-repeat left;
      width: 70px;
      height: 60px;
      background-size: 70px;
      text-indent: -999em;
      display: inline-block; }
  .branding .nav {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 0 10px; }
    .branding .nav .username,
    .branding .nav .nav-links {
      line-height: 60px; }
    .branding .nav .recent-reading {
      margin-right: 15px; }
    .branding .nav ul.nav-links li {
      display: inline-block; }
      .branding .nav ul.nav-links li a {
        padding: 0 5px; }
    .branding .nav .dropdown-menu {
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 999; }

.console-branding {
  background: #1B267F;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
  .console-branding .sep {
    margin: 0 20px;
    opacity: .6;
    font-size: 1.5rem; }
  .console-branding .sub {
    opacity: .8;
    font-size: 1.3rem; }
  .console-branding .dropdown-menu {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    line-height: 2.2;
    font-size: 1rem;
    min-width: 150px;
    text-align: left;
    background: #1B267F; }
    .console-branding .dropdown-menu > li {
      border-bottom: 1px solid #2433a9;
      padding: 5px 0; }
      .console-branding .dropdown-menu > li a {
        display: block;
        background: #1B267F;
        padding: 0 10px; }
        .console-branding .dropdown-menu > li a:hover {
          background: #2433a9; }
        .console-branding .dropdown-menu > li a:active {
          background: #121955; }
    .console-branding .dropdown-menu > li:last-child {
      border-bottom: none; }

.viewer {
  position: relative;
  background: #eee; }
  .viewer .page-no {
    position: absolute;
    left: 0;
    top: 0;
    border-top: 1px solid #d5d5d5;
    padding: 0 10px;
    color: #d5d5d5;
    font-size: 0.8rem; }
  .viewer ul.pages {
    position: relative;
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    background: #fff;
    z-index: 980; }
    .viewer ul.pages > li {
      display: block;
      width: 100%;
      overflow: hidden;
      cursor: default; }
      .viewer ul.pages > li .content {
        margin: 0 auto;
        width: 550px;
        position: relative;
        overflow: hidden;
        color: #555;
        line-height: 1.9; }
        .viewer ul.pages > li .content p {
          margin: 0;
          min-height: 25px; }
    .viewer ul.pages > li.init {
      position: relative;
      height: auto; }
      .viewer ul.pages > li.init .content {
        height: auto; }
  .viewer .viewer-panel {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 990;
    background: #222;
    color: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.04);
    height: 60px; }
    .viewer .viewer-panel .container {
      text-align: center;
      margin-top: 15px;
      position: relative; }
    .viewer .viewer-panel .back {
      position: absolute;
      left: 5px;
      top: 0; }
      .viewer .viewer-panel .back a {
        color: #fff;
        display: inline-block;
        overflow: hidden; }
        .viewer .viewer-panel .back a span {
          float: left; }
      .viewer .viewer-panel .back span {
        line-height: 30px;
        display: inline-block; }
    .viewer .viewer-panel .title {
      font-size: 1.2rem; }
    .viewer .viewer-panel .preference {
      position: absolute;
      right: 15px;
      top: 0;
      cursor: pointer; }
  .viewer.viewer--phone ul.pages {
    width: 100%; }
    .viewer.viewer--phone ul.pages > li .content {
      padding: 0 25px;
      width: auto;
      margin: 0 auto; }
    .viewer.viewer--phone ul.pages > li .page-no {
      padding: 0 3px;
      font-size: 10px;
      line-height: 2.6; }

.viewer-panel .container {
  position: relative; }

.switcher {
  display: inline-block;
  width: 40px;
  position: relative;
  cursor: pointer;
  margin: 0 5px; }
  .switcher .switcher-button {
    background: #006BEF;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.32); }
  .switcher .switcher-track {
    height: 10px;
    margin-top: 5px;
    border-radius: 50px; }
  .switcher.off .switcher-track {
    background: #ddd; }
  .switcher.off .switcher-button {
    left: 0; }
  .switcher.on .switcher-button {
    left: 20px; }
  .switcher.on .switcher-track {
    background: #bcdaff; }

.viewer-preference {
  position: absolute;
  right: 0;
  top: 60px;
  width: 200px;
  background: #fff;
  box-shadow: 0 12px 63px rgba(0, 0, 0, 0.15);
  color: #666;
  border-radius: 3px;
  -webkit-user-select: none;
  overflow: hidden; }
  .viewer-preference .option {
    padding: 10px 15px;
    border-bottom: 1px solid #ddd; }
    .viewer-preference .option:last-child {
      border: none; }
  .viewer-preference .option-font-size {
    overflow: hidden;
    padding: 0; }
    .viewer-preference .option-font-size span {
      font-size: 1.2rem;
      width: 50%;
      float: left;
      box-sizing: border-box;
      padding: 0 5px;
      height: 40px;
      line-height: 40px;
      cursor: pointer; }
    .viewer-preference .option-font-size span:first-child {
      font-size: .9rem;
      border-right: 1px solid #ddd; }
  .viewer-preference .option-scroll {
    overflow: hidden;
    text-align: left; }
    .viewer-preference .option-scroll .label {
      float: left; }
    .viewer-preference .option-scroll .switcher {
      float: right; }
  .viewer-preference .option-theme {
    padding: 5px 0; }
    .viewer-preference .option-theme span {
      border-radius: 50%;
      border: 2px solid #ddd;
      text-indent: -999em;
      display: inline-block;
      width: 30px;
      height: 30px;
      margin: 5px;
      cursor: pointer; }

.viewer-scrollbar {
  width: 2px;
  min-height: 400px;
  position: fixed;
  right: 40px;
  top: 100px; }
  .viewer-scrollbar .track,
  .viewer-scrollbar .track-past {
    width: 2px;
    background: #c4c4c4;
    border-radius: 3px;
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 1; }
  .viewer-scrollbar .track-past {
    background: #89beff;
    z-index: 2; }
  .viewer-scrollbar .button {
    width: 20px;
    height: 20px;
    background: #006BEF;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.32);
    position: absolute;
    left: 0;
    top: 84px;
    cursor: pointer;
    border-radius: 50%;
    z-index: 3;
    display: none; }
  .viewer-scrollbar .loc-info {
    text-align: center;
    position: absolute;
    right: 30px;
    top: -13px;
    background: #2C2C2C;
    color: #ddd;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.32);
    padding: 7px 15px; }
    .viewer-scrollbar .loc-info .sub-info {
      font-size: 0.8rem;
      color: #aaa; }
  .viewer-scrollbar:hover .button {
    display: block; }

.nav-tab {
  margin-bottom: 15px;
  font-size: 1.2rem; }
  .nav-tab ul {
    border-bottom: 1px solid #ddd; }
    .nav-tab ul li {
      margin-bottom: -2px;
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      padding: 10px 0; }
      .nav-tab ul li.current {
        font-weight: bold;
        color: #006BEF;
        border-bottom: 2px solid #006BEF; }

.text-link {
  color: #666; }
  .text-link:hover {
    color: #2c65c7; }

.light-link, ul.dropdown-menu > li a, .branding .nav ul.nav-links li a, .console-branding .dropdown-menu > li a {
  color: #fff; }
  .light-link:hover, ul.dropdown-menu > li a:hover, .branding .nav ul.nav-links li a:hover, .console-branding .dropdown-menu > li a:hover {
    color: #f2f2f2; }

.dark-link {
  color: #666; }
  .dark-link:hover {
    color: #333; }

.page-title, .book-list-section .section-title {
  margin: 35px 0;
  font-size: 2rem;
  font-weight: bold;
  color: #333; }
  .page-title small, .book-list-section .section-title small {
    font-size: 1rem; }

.page-header {
  margin: 35px 0;
  position: relative; }
  .page-header .page-title, .page-header .book-list-section .section-title, .book-list-section .page-header .section-title {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 20px;
    line-height: 46px; }

.page-content {
  width: 700px;
  margin: 0 auto; }

.page-load-more {
  border: 1px solid #ddd;
  width: 80%;
  margin: 30px auto;
  padding: 6px 0;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none; }

.styled-table, #root.console .content table {
  margin-top: 10px;
  width: 100%;
  line-height: 2.5;
  font-size: 1rem; }
  .styled-table > tbody > tr:first-child, #root.console .content table > tbody > tr:first-child {
    border-bottom: 2px solid #666;
    font-weight: bold;
    line-height: 2.5; }
  .styled-table > tbody > tr, #root.console .content table > tbody > tr {
    border-bottom: 1px solid #ddd; }

.colophon {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0.9rem;
  padding: 30px 0;
  color: #999; }

.sidebar-left {
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  width: 300px; }

ul.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px; }

li.book {
  float: left;
  transition: all 0.2s ease 0s;
  position: relative;
  width: 150px;
  padding: 0 10px; }
  li.book a {
    display: block;
    padding-top: 10px;
    position: relative; }
  li.book a:hover img {
    opacity: .96; }
  li.book a:active {
    opacity: .8; }
  li.book .book-meta span {
    width: 100%;
    text-align: left;
    display: block;
    line-height: 1.5;
    margin-left: 17px;
    width: 134px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  li.book .book-meta span.book-author {
    color: #999; }
  li.book .book-info-popup {
    transition: all 0.2s 0s;
    opacity: 0;
    visibility: hidden; }
  li.book:hover .book-info-popup {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s 0.8s; }

.book-cover {
  position: relative;
  margin: 0;
  width: 134px;
  height: 184px;
  top: 0;
  background: url(img/shadow.png) no-repeat top;
  transition: all 0.2s ease 0s;
  position: relative; }
  .book-cover img {
    width: 100px;
    height: 150px;
    display: block;
    position: absolute;
    border: none;
    left: 17px;
    top: 7px;
    border-radius: 4px; }
  .book-cover:hover {
    top: -7px; }

.book-info-popup {
  position: absolute;
  z-index: 999;
  left: 134px;
  top: 0;
  width: 300px;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
  padding: 10px 20px 0;
  border: 1px solid #ddd; }
  .book-info-popup .description {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    background: #f2f2f2;
    line-height: 1.6;
    max-height: 100px;
    overflow: hidden; }

.candy-box h3.box-title {
  font-size: 1.2rem;
  font-weight: normal;
  color: #333; }

.candy-box ul li {
  border-top: 1px solid #f2f2f2; }
  .candy-box ul li a {
    color: #666;
    line-height: 2.5; }
    .candy-box ul li a:hover {
      color: #2c65c7; }

.book-list-section {
  position: relative; }
  .book-list-section .section-title {
    margin-top: 20px; }
  .book-list-section a.more {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 32px; }

#root.console .sidebar-left {
  background: #E4E4E4; }
  #root.console .sidebar-left .nav-side {
    position: fixed;
    left: 0;
    height: 100%; }
    #root.console .sidebar-left .nav-side li {
      height: 50px;
      line-height: 50px; }
      #root.console .sidebar-left .nav-side li a {
        display: block;
        padding: 0 15px;
        box-sizing: border-box; }
  #root.console .sidebar-left .nav-side-root {
    width: 80px;
    background: #04082E; }
    #root.console .sidebar-left .nav-side-root li .icon {
      width: 100%;
      height: 50px; }
    #root.console .sidebar-left .nav-side-root li.current {
      background: #1B267F; }
  #root.console .sidebar-left .nav-side-sub {
    width: 220px;
    left: 80px; }
    #root.console .sidebar-left .nav-side-sub li {
      background: #D8D8D8; }
      #root.console .sidebar-left .nav-side-sub li a {
        color: #666; }
    #root.console .sidebar-left .nav-side-sub li.current {
      background: #fff; }
      #root.console .sidebar-left .nav-side-sub li.current a {
        color: #1B267F; }

#root.console .content {
  margin-left: 320px;
  padding-top: 60px; }
  #root.console .content form {
    width: 500px; }

#root.console .page-content {
  margin-left: 330px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 60px; }
  #root.console .page-content form {
    width: 500px; }
