@import "styles/variables.css";

:root {
  --cover-size: 100px;
}

.cover {
  width: var(--cover-size);
  height: var(--cover-size);
  background: var(--blue);
}

.name {
  font-size: 1rem;
  color: var(--text);
}

.title {
  composes: page-title from "styles/base.css";
}

.list {
  width: 100%;
}

.item {
  width: 100%;
}