@import "~styles/variables";
@import "~styles/mixins/screens";

$alert-width: 700px;
$alert-succes: #72efa8;
$alert-success-text: #204d33;
$alert-error: #cc0000;
$alert-error-text: #fff;
$alert-warning: orange;
$alert-warning-text: darken(orange, 50%);

.alerts {
  position: fixed;
  width: 100%;
  top: 10px;
  left: 50%;
  z-index: 9999;
  width: $alert-width;
  margin-left: - $alert-width / 2;

  @include tablet {
    width: 100%;
    top: 0;
    left: 0;
    margin-left: 0;
  }
}

.alert {
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  position: relative;
  box-shadow: $shadow-y1;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 3px;
  margin: 0 auto 10px;

  @include tablet {
    border-radius: 0;
    padding: 22px 0;
  }
}

.content {
  overflow: hidden;
  padding: 0 30px;
}

.alert-close {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -10px;
  display: inline-block;
}

.alert--success {
  @extend .alert;
  background: $alert-succes;
  color: $alert-success-text;
}

.alert--error {
  @extend .alert;
  background: $alert-error;
  color: $alert-error-text;
}

.alert--warning {
  @extend .alert;
  background: $alert-warning;
  color: $alert-warning-text;
}
