@import "variables";
@import "~styles/mixins/screens";

body {
  background: #fafafa;
}

body.home {
  .colophon {
    border: none;
    margin: 0;
  }
}

body.console {
  background: #fff;
}

.page-collections {
  .collection-item {
    border-bottom: none;
  }
}

#root {
  .dropdown-recent-reading {
    @include phone {
      display: none;
    }
  }
}

.book-raw {
  position: fixed;
  left: -100%;
}
