@import "variables";
@import "viewer";

body {
  background: #fafafa;
}

body.home {
  .colophon {
    border: none;
    margin: 0;
  }
}

body.console {
  background: #fff;
}

.page-collections {
  .collection-item {
    border-bottom: none;
  }
}
