@mixin make_viewer($text, $text_background, $panel_text, $panel_background, $viewer_background, $color) {
  position: relative;
  background: $viewer_background;

  &.viewer--phone {
    ul.pages {
      width: 100%;
      >li {
        .content {
          padding: 0 25px;
          width: auto;
          margin: 0 auto;
        }
        .page-no {
          padding: 0 3px;
          font-size: 10px;
          line-height: 2.6;
        }
      }
    }
  }
}
