@import "styles/_variables";

$panel_background: black;
$panel_text: #fff;
$height: 60px;

.viewer-panel {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 990;
  background: $panel_background;
  color: $panel_text;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.04);
  height: $height;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
  margin-top: ($height - $icons_size)/2;
  position: relative;
}

.back {
  position: absolute;
  left: 5px;
  top: 0;

  a {
    color: $panel_text;
    display: inline-block;
    overflow: hidden;
    span {
      float: left;
    }
  }

  span {
    line-height: $icons_size;
    display: inline-block;
  }
}

.title {
  font-size: 1.2rem;
}

.preference {
  position: absolute;
  right: 15px;
  top: 0;
  cursor: pointer;
  display: none;
}
