
/*.page-collections {
  width: 100%;

  & a {
    color: red;
  }
}

  .collection-item {
    border-top: 1px solid gray;
    border-bottom: none;
  }*/


/*.covers {
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 30px;

  & li {
    float: left;
    margin: 0 10px;
  }
}*/

a {
  /* direct nesting (& MUST be the first part of selector)*/
  & span {
    color: white;
  }

  /* @nest rule (for complex nesting) */
  @nest span & {
    color: blue;
  }

  /* media query automatic nesting */
  @media (min-width: 30em) {
    color: yellow;
  }
}