.section {
  width: 700px;
  margin: 0 auto;
}

.line {
  margin: 0;
  line-height: 25px;
  font-size: 16px;
}

h1.line {
  line-height: 40px;
  font-size: 22px;
  color: #333;
  font-weight: normal;
}

img.line,
.line img {
  max-width: 100%;
  height: auto;
  min-height: 20px;
  display: block;
}
