@import "styles/variables.css";

:root {
  --nav-root-width: 80px;
  --item-line-height: 50px;
}

.sidebar-left {
  position: fixed;
  left: 0;
  top: var(--branding-height);
  height: 100%;
  width: var(--sidebar-width);
  background: #E4E4E4;
}

.nav-side {
  position: fixed;
  left: 0;
  height: 100%;
}

.nav-side-root {
  composes: nav-side;
  width: var(--nav-root-width);
  background: #04082E;
}

.nav-side-root--current {
  composes: nav-side-root;
  background: red;
}

.nav-side-sub {
  composes: nav-side;
  width: calc(var(--sidebar-width) - var(--nav-root-width));
  left: var(--nav-root-width);
}

/* item */
.nav-item {
  height: var(--item-line-height);
  line-height: var(--item-line-height);

  & a {
    display: block;
    padding: 0 15px;
    color: #fff;
    height: var(--item-line-height);
  }
}

.icon {
  margin-top: 12px;
}

.root-item {
  composes: nav-item;
  text-align: center;

  & a:hover {
    background: color(var(--dark-blue) l(+ 10%));
  }
}

.root-item--current {
  composes: root-item;
  background: var(--blue);
}

.sub-item {
  composes: nav-item;

  & a {
    color: var(--text);
  }
  & a:hover {
    background: gray(200);
  }
}

.sub-item--current {
  composes: sub-item;

  & a,
  & a:hover {
    color: var(--blue);
    background: #fff;
  }
}
