.profile {
  min-height: 500px;

  .page-header {
    text-align: center;

    span {
      display: block;
    }

    .username {
      margin-top: 20px;
      font-size: 1.6rem;
      font-weight: bold;
      color: $text_d;
    }
  }
}

.user-avatar {
  width: 160px;
  height: 160px;
  display: inline-block;

  img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: $common_shadow;
  }
}