@import "~styles/variables";
@import "~styles/mixins/screens";

$padding-v: 30px;
$padding-h: 30px;

:global .page-book-info {
  background: $bg-gray;
}

.book-detail {
  background: #fff;
  box-shadow: $shadow-x1;
  border: 1px solid $border-corlor-x1;
  margin-top: 40px;
  border-radius: 3px;
}

.book-info-container {
  max-width: 700px;
  margin: 0 auto;
}

.header {
  overflow: hidden;
  padding: $padding-v $padding-h $padding-v/2;
  position: relative;

  @include phone {
    padding: 20px;
  }
}

.content {
  padding: 0 $padding-h $padding-v $padding-h;
  // border-top: 1px solid $gray;
  line-height: 1.7;

  @include phone {
    padding: 20px;
  }
}

.btn-read {
  position: absolute;
  bottom: $padding-v;
}

.left-col {
  float: left;
  margin-right: 30px;
}

.right-col {
  width: 100%;
  min-height: 140px;
}

.book-name {
  font-size: 1.6rem;
  font-weight: bold;
  margin: 0 0 10px 0;
  color: $text-dark;
  line-height: 1.2;
  word-wrap: break-word;
}
.book-author {
  font-size: 1rem;
  margin-bottom: 10px;
}

.book-cover {
  margin: 0;
  top: 0;
  position: relative;
  box-shadow: $shadow-z1;
  overflow: hidden;
  border-radius: 3px;
}

.img {
  width: 100px;
  height: auto;
  display: block;
}

.desc {
  font-size: 1.2rem;
  font-weight: bold;
  color: $text-dark;
}
