.nav-tab {
  margin-bottom: 15px;
  font-size: 1.2rem;

  ul {
    border-bottom: 1px solid $gray_d;

    li {
      margin-bottom: -2px;
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      padding: 10px 0;

      &.current {
        font-weight: bold;
        color: $app_blue;
        border-bottom: 2px solid $app_blue;
      }
    }
  }
}