@import "styles/variables.css";

:root {
  --width: 134px;
}

.book {
  float: left;
  transition: all 0.2s ease 0s;
  position: relative;
  width: 150px;
  padding: 0 10px;

  & a {
    display: block;
    padding-top: 10px;
    position: relative;

    &:hover img {
      opacity: .96;
    }
    
    &:active {
      opacity: .8;
    }
  }
}

.book-meta {
  background: transparent;
}

.meta-item {
  width: 100%;
  text-align: left;
  display: block;
  line-height: 1.5;
  margin-left: 17px;
  width: var(--width);
  composes: text-overflow from "styles/base.css";
}

.book-name {
  composes: meta-item;
  font-size: 1.3rem;
  color: var(--text-dark);
}

.book-author {
  composes: meta-item;
  color: $text_l;
  color: var(--text-light);
}

.book-cover {
  position: relative;
  margin: 0;
  width: var(--width);
  height: 184px;
  top: 0;
  background: url(static/img/shadow.png) no-repeat top;
  transition: all 0.2s ease 0s;
  position: relative;
  
  & img {
    width: 100px;
    height: 150px;
    display: block;
    position: absolute;
    border: none;
    left: 17px;
    top: 7px;
    border-radius: 4px;
  }

  &:hover {
    top: -7px;
  }
}
