@import "styles/variables.css";

.selectize-wrap {
  composes: input-wrap from "../Input/Input.css";
}

.selectize-input {
  min-width: 300px;
  border: 1px solid var(--gray);
  margin: 10px 0;
  box-sizing: border-box;
  padding: $input_padding 5px calc(var(--input-padding) - 5);
  transition: var(--gray) .3s;
  cursor: text;
}

.selectize-input--focus {
  composes: selectize-input;
  border-color: var(--blue);
}
.selectize-input--empty {
  composes: selectize-input;
  padding-bottom: var(--input-padding);
}

.selectize-input input {
  border: none;
  outline: none;
  line-height: $input_line_height;
  margin-bottom: 5px;
}

.query-results {
  margin-top: -3px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: var(--shadow-y1);
  background: #fff;
  z-index: var(--selectize-options);
}

.query-results li {
  padding: 0 7px;
  line-height: 2;
  cursor: pointer;
}
.query-results li:hover {
  background: var(--blue);
  color: #fff;
}

.selectize-tag {
  /*@extend .tag;*/
  composes: tag from "styles/base.css";
  background: var(--blue);
  cursor: pointer;
}

.selectize-tag .icon {
  font-size: 0.8rem;
  margin-left: 5px;
}