@import "styles/_variables";

$input-padding: 5px;

.selectize-wrap {
  margin: 10px 0;
  position: relative;
}

.selectize-input {
  min-width: 300px;
  border: 1px solid $gray;
  margin: 10px 0;
  box-sizing: border-box;
  transition: $gray .3s;
  cursor: text;
  background: #fff;

  input {
    background: transparent;
  }
}

.selectize-input--focus {
  border-color: $blue;
}
.selectize-input--empty {
  background: #fff;
  padding: $input-padding 5px 0;
}

.selectize-input input {
  border: none;
  outline: none;
  margin-bottom: 5px;
}

.query-results {
  margin-top: -3px;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 100%;
  box-shadow: $shadow-y1;
  background: #fff;
  z-index: $z-selectize-options;
}

.query-results li {
  padding: 0 7px;
  line-height: 2;
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background: $blue;
    color: #fff;
  }
}

.selectize-tag {
  background: $blue;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px 25px 3px 5px;
  margin: 5px;
  color: #fff;
  display: inline-block;
  position: relative;
}

.icon-remove {
  font-size: 0.8rem;
  margin-left: 5px;
  position: absolute;
  right: 5px;
  top: 2px;
}
