@import "styles/variables.css";

.textarea-wrap {
  margin: 10px 0;
  position: relative;
}

.textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--gray);
  outline: none;
  height: 100px;
  transition: border-color .3s;
}

.textarea:focus {
  border-color: var(--blue);
}
