@import "~styles/variables";

.input-wrap {
  margin: 10px 0;
  position: relative;
}

.input {
  width: 100%;
  padding: $input-padding 5px;
  border: 1px solid $gray;
  transition: border-color .3s;
  line-height: $input-line-height;
  outline: none;
}

.input:focus {
  border-color: $blue;
}

.input-wrap--error {
  @extend .input-wrap;
  
  .input {
    border-color: $red;
  }
}

.error-msg {
  position: absolute;
  right: 10px;
  top: $input-padding + 1;
  line-height: $input-line-height;
  color: $red;
}
