@import "_variables.scss";

$width: 134px;

.book-info-popup {
  position: absolute;
  z-index: 999;
  left: $width;
  top: 0;
  width: 300px;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
  padding: 10px 20px 0;
  border: 1px solid $gray_d;

  .description {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding: 20px;
    background: $gray_l;
    line-height: 1.6;
    max-height: 100px;
    overflow: hidden;
  }
}

