@import "~styles/variables";
@import "~styles/mixins/hover";
@import "~styles/mixins/border-radius";
@import "button.mixin";

$btn_blue: $blue;
$btn_orange: rgb(238, 147, 51);
$btn_red: rgb(212, 32, 32);
$btn_default: $btn_blue;
$btn_green: #1ab94b;

$btn_padding_y: 3px;
$btn_padding_x: 12px;
$font_size_base: 1rem;
$btn_border_radius: 3px;

.btn {
  @include button-variant(#fff, $btn_default, $btn_default);
  @include button-size($btn_padding_y, $btn_padding_x, $font_size_base, $btn_border_radius);
  transition: all 0.2s 0s;
  outline: none;
  border: 1px solid transparent;
  display: inline-block;
  margin: 5px 0;
  cursor: pointer;
  line-height: 1.5;
  
  &.disabled,
  &:disabled {
    cursor: not-allowed;
    opacity: .65;
  }
  &:active {
    &:hover {
      box-shadow: none;
    }
  }
}

.btn--hover {
  box-shadow: $shadow-z1;
}

.btn.btn--blue {
  @include button-variant(#fff, $btn_blue, $btn_blue);
}

.btn.btn--orange {
  @include button-variant(#fff, $btn_orange, $btn_orange);
}

.btn.btn--red {
  @include button-variant(#fff, $btn_red, $btn_red);
}

.btn.btn--green {
  @include button-variant(#fff, $btn_green, $btn_green);
}

.btn.btn--white {
  @include button-variant(#333, #fff, #fff);
}

.btn--large {
  font-size: 20px;
  padding: 10px 30px;
}

.btn-bordered {
  @include button-variant(#fff, transparent, #fff);
}
