@import "~styles/variables";

.tabs-header {
  margin-bottom: 15px;
  font-size: 1.2rem;

  ul {
    border-bottom: 1px solid $gray;
  }
}

.tab {
  margin-bottom: -1px;
  display: inline-block;
  margin-right: 25px;
  cursor: pointer;
  padding: 10px 0;
  font-size: 1.2rem;
  color: $blue;
  &.active {
    font-weight: normal;
    border-bottom: 3px solid $blue;
  }
}

.tab-title {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 25px;
  color: $text-dark;
}
