@import "~styles/variables";

.logo-wrap {
  margin: 0;
  line-height: $branding-height;
  color: #fff;
  display: inline-block;
}

.logo {
  background: url(./logo-sans.png) no-repeat left;
  width: 70px;
  height: $branding-height;
  background-size: 70px;
  text-indent: -999em;
  display: inline-block;
}

.logo--dark {
  composes: logo;
  background: url(./logo-sans-dark.png) no-repeat left;
  background-size: 70px;
}
