@import "styles/_variables";

.viewer-nav {
  position: absolute;
  top: 80px;
  left: -20px;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  padding: 20px 20px 20px 0;
  border-radius: 3px;
  // TODO
  box-shadow: 0 12px 63px rgba(0, 0, 0, 0.15);
  width: 300px;
  height: 400px;

  ul {
    margin-left: 20px;
    text-align: left;
    line-height: 1.8;

    li {
      a {
        display: block;
        border-bottom: 1px solid $gray;
      }
    }
  }
}
