@import "styles/_variables";

.viewer-nav {
  position: fixed;
  top: 80px;
  left: 20px;
  height: 100%;
  background: #fff;
  overflow-y: scroll;
  padding: 20px;
  // TODO
  max-height: 400px;
  box-shadow: 0 12px 63px rgba(0, 0, 0, 0.15);

  ul {
    margin-left: 20px;
  }
}
