/*:root {
--fontSize: 1rem;
--mainColor: blue;
--highlightColor: hwb(190, 35%, 20%);
}

:root {
  --centered: {
    display: flex;
    align-items: center;
    justify-content: center;
  };
}*/

/*.centered {
  @apply --centered;
}

.fuck {
  @apply --centered;
  color: var(--mainColor);
}

.btn {
  font-size: 2rem;
  height: 52px;
  color: var(--mainColor);
  composes: var1 from './_lib.css';
}*/

// :root {
//   --var2: red;
//   /*composes: root from './_lib.css'*/
// }

/*$a: blue;*/

@import "containers/_lib.scss";

/*:root {
  --varA: composes: var1 from './_lib.css';
}*/

.fuck {
  width: 1000px;
}
.btn {
  /*color: $a;*/
  width: 500px;
  color: $var1;
  @include button-outline-variant(red);
  // background: url(img/clear2.png);
}
/*.btn {
   width: 300px;
   composes: btn from './_lib.css';
}*/



