@import "~styles/variables";

:global body.page-profile {
  background: $bg-gray;
}

.profile {
  min-height: 500px;
  position: relative;
}

.page-header {
  text-align: center;
  margin: 30px 0;

  span {
    display: block;
  }
}

.username {
  margin-top: 20px;
  font-size: 1.6rem;
  font-weight: bold;
  color: $text-dark;
}

.edit {
  position: absolute;
  right: 0;
  top: 0;
}

.user-avatar {
  width: 160px;
  height: 160px;
  display: inline-block;

  img {
    width: 100%;
    height: auto;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: $shadow-y1;
  }
}

.tagline {
  font-size: 1.2rem;
}
