@import "~styles/variables";

.text-loading {
	@extend %text-loading;
	margin: 30px 0;
	display: inline-block;
	img {
		width: 30px;
		height: auto;
	}
}

.loading-wrap {
	text-align: left;
}

.loading-wrap--center {
	text-align: center;
}
