.header-center {
  text-align: center;
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-inner {
  margin: 0 auto;
}
.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 3px;
}
.author {
  font-size: 12px;
  color: #666
}
.menu-icon {
  display: flex;
  align-items: center;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: pointer;
}
.preference-icon {
  composes: menu-icon;
}
.contents-label {
  font-weight: bold;
  margin: 25px 0 5px;
}

.book {
  position: relative;
}

.book--white {
  background: #fff;
  color: #333;
}

.book--night {
  background: #333;
  color: #fff;
}

.book--sepia {
  background: rgb(241, 239, 236);
  color: rgb(41, 25, 7);
}
