.renderer-wrap {
  width: 100%;
  max-width: 700px;
  font-size: 15px;
  line-height: 1.7;
  font-weight: normal;
  color: #333;
  h1, h2 {
    color: #333;
    font-size: 1.4em;
    margin: 30px 0 5px;
  }
  h3, h4, h5, h6 {
    color: #333;
    font-size: 1.2em;
    margin: 30px 0 5px;
  }
}
.page__line {
  margin: 0;
  padding: 0;
}
