@import "~styles/variables";
@import "~styles/mixins/screens";

.page-no {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 35px;
  color: $gray;
  font-size: 1rem;
  text-align: left;
  @include phone {
    font-size: 0.9rem;
  }
}

.page--flip {
  position: relative;
  width: 700px;
  margin: 0 auto;
  padding-bottom: 50px;
}
