@import "~styles/variables";

.tabs-header {
  margin-bottom: 15px;
  font-size: 1.2rem;

  ul {
    border-bottom: 1px solid $gray;

    li {
      margin-bottom: -2px;
      display: inline-block;
      margin-right: 15px;
      cursor: pointer;
      padding: 10px 0;

      &.active {
        font-weight: bold;
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }
  }
}
