.info-table {
  margin-top: 10px;
  width: 100%;
  line-height: 2.5;
  font-size: 1rem;
  >tbody {
    >tr:first-child {
      border-bottom: 2px solid $text_n;
      font-weight: bold;
      line-height: 2.5
    }
    >tr {
      border-bottom: 1px solid $gray_d;
    }
  }
}