@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\000032}}
html {
  font-size: 62.5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\000035}}
body {
  font-family: "roboto", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000311}}
.no-csschunit body {
  font-family: "Microsoft Yahei", Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000315}}
::selection {
  background: rgba(47, 141, 246, 0.3);
  color: #666;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000320}}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000326}}
a {
  color: #2c65c7;
  transition: all .2s ease-in; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000329}}
  a:hover {
    color: #4c83e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000332}}
  a:active {
    color: #4b8cff;
    transition: all 0s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000337}}
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\000031}}
.fade-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\000036}}
.fade-enter.fade-enter-active {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000310}}
.fade-leave {
  opacity: 1;
  transition: opacity .3s ease-in; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000315}}
.fade-leave.fade-leave-active {
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000319}}
.slide-enter {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000325}}
.slide-enter.slide-enter-active {
  transform: translateY(0);
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000330}}
.slide-leave {
  transform: translateY(0);
  opacity: 1;
  transition: all .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000336}}
.slide-leave.slide-leave-active {
  transform: translateY(-100%);
  opacity: 0; }

/*
 * layout
 * ------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\000036}}
.container {
  width: 1060px;
  padding: 0 10px;
  margin: 0 auto;
  box-sizing: border-box; }
  @media (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\000036}}
    .container {
      width: 750px; } }
  @media (max-width: 768px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\000036}}
    .container {
      width: 100%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000319}}
.container-fluid {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000326}}
.content-container {
  width: 500px;
  margin: 0 auto; }
  @media (max-width: 540px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000326}}
    .content-container {
      width: 100%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000333}}
.sep {
  margin: 0 5px;
  color: #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000337}}
.left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000340}}
.right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000343}}
.hidden {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000346}}
.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

/*
 * shared styles
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000360}}
.text-link {
  color: #666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000363}}
  .text-link:hover {
    color: #2c65c7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000367}}
.light-link, ul.dropdown-menu > li a, .branding .nav ul.nav-links li a {
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000370}}
  .light-link:hover, ul.dropdown-menu > li a:hover, .branding .nav ul.nav-links li a:hover {
    color: #f2f2f2; }

/*
 * ui pieces
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000382}}
.page-title {
  margin: 30px 0 15px;
  font-size: 25px;
  color: #333;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000389}}
.badge-dark {
  background: #828de4;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 1.2rem;
  color: #acb3ed;
  color: #1B267F;
  margin: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003100}}
.msg {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 990; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003114}}
.text-loading {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 100px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003122}}
.loading-wrap {
  background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003124}}
  .loading-wrap .icon-loading {
    width: 200px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -100px;
    background: url(../img/loading.gif) no-repeat center;
    z-index: 999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003138}}
.confirm-dialog {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 990; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003149}}
  .confirm-dialog .content {
    font-size: 2rem;
    padding: 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003157}}
ul.dropdown-menu {
  position: absolute;
  top: 60px;
  right: 0;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1.4rem;
  min-width: 150px;
  text-align: left;
  background: #2F2F2F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003169}}
  ul.dropdown-menu > li {
    border-bottom: 1px solid #494949;
    padding: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003173}}
    ul.dropdown-menu > li a {
      display: block;
      background: #2F2F2F;
      padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003179}}
      ul.dropdown-menu > li a:hover {
        background: #494949; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003183}}
      ul.dropdown-menu > li a:active {
        background: #161616; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003189}}
  ul.dropdown-menu > li:last-child {
    border-bottom: none; }

/*
 * icons
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003200}}
.icon {
  width: 30px;
  height: 30px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003205}}
.icon-books {
  background: red; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003208}}
.icon-users {
  background: yellow; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\000032}}
.branding {
  min-height: 60px;
  background: #2F2F2F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\000036}}
  .branding .logo {
    margin: 0;
    line-height: 60px;
    color: #fff;
    font-size: 2rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000311}}
    .branding .logo a {
      background: url(../img/logo.png) no-repeat left;
      width: 70px;
      height: 60px;
      background-size: 70px;
      text-indent: -999em;
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000320}}
  .branding .nav {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000326}}
    .branding .nav .username,
    .branding .nav .nav-links {
      line-height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000332}}
    .branding .nav ul.nav-links li {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000334}}
      .branding .nav ul.nav-links li a {
        padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000341}}
    .branding .nav .dropdown-menu {
      display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000346}}
    .branding .nav:hover .dropdown-menu {
      display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000352}}
.console-branding {
  background: #1B267F;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000359}}
  .console-branding .sep {
    margin: 0 20px;
    opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000363}}
  .console-branding .sub {
    opacity: .8; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000369}}
.colophon {
  margin-top: 50px;
  border-top: 1px solid #ddd;
  font-size: 1.4rem;
  padding: 30px 0;
  color: #999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000378}}
.sidebar-left {
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\000039}}
#root.console .sidebar-left {
  background: #E4E4E4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000313}}
  #root.console .sidebar-left .nav-side {
    position: fixed;
    left: 0;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000317}}
    #root.console .sidebar-left .nav-side li {
      height: 50px;
      line-height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000320}}
      #root.console .sidebar-left .nav-side li a {
        display: block;
        padding: 0 15px;
        box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000327}}
  #root.console .sidebar-left .nav-side-root {
    width: 80px;
    background: #04082E; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000330}}
    #root.console .sidebar-left .nav-side-root li.current {
      background: #1B267F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000334}}
  #root.console .sidebar-left .nav-side-sub {
    width: 220px;
    left: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000337}}
    #root.console .sidebar-left .nav-side-sub li {
      background: #D8D8D8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000340}}
    #root.console .sidebar-left .nav-side-sub li.current {
      background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000345}}
#root.console .content {
  margin-left: 300px;
  padding-top: 60px; }

/*# sourceMappingURL=console.css.map */
