@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\000031}}
html {
  font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\000034}}
body {
  font-size: 1rem;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000311}}
.no-csschunit body {
  font-family: "Microsoft Yahei", Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000315}}
::selection {
  background: rgba(47, 141, 246, 0.3);
  color: #666;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000320}}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000326}}
a {
  color: #2c65c7;
  transition: all .2s ease-in; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000329}}
  a:hover {
    color: #4c83e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000332}}
  a:active {
    color: #4b8cff;
    transition: all 0s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/base\.scss}line{font-family:\0000337}}
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

/*
 * layout
 * ------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000318}}
.container-fluid {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000325}}
.content-container {
  width: 500px;
  margin: 0 auto; }
  @media (max-width: 540px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000325}}
    .content-container {
      width: 100%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000332}}
.sep {
  margin: 0 5px;
  color: #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000336}}
.left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000339}}
.right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000342}}
.hidden {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/layout\.scss}line{font-family:\0000345}}
.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

/*
 * icons
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\000036}}
.icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000312}}
.icon.small {
  width: 10px;
  height: 10px;
  background-size: 10px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000317}}
.icon-close-light {
  background: url(../img/icons/close-light.png) no-repeat center;
  background-size: 30px;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000322}}
.icon-books {
  background: url(../img/icons/books.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000326}}
.icon-users {
  background: url(../img/icons/users.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000330}}
.icon-statistics {
  background: url(../img/icons/statistics.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000334}}
.icon-database {
  background: url(../img/icons/database.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000338}}
.icon-font {
  background: url(../img/icons/font.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/icons\.scss}line{font-family:\0000342}}
.icon-back {
  background: url(../img/icons/back.png) no-repeat center;
  background-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\000031}}
.fade-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\000036}}
.fade-enter.fade-enter-active {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000310}}
.fade-leave {
  opacity: 1;
  transition: opacity .3s ease-in; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000315}}
.fade-leave.fade-leave-active {
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000319}}
.slide-enter {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000325}}
.slide-enter.slide-enter-active {
  transform: translateY(0);
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000330}}
.slide-leave {
  transform: translateY(0);
  opacity: 1;
  transition: all .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/animation\.scss}line{font-family:\0000336}}
.slide-leave.slide-leave-active {
  transform: translateY(-100%);
  opacity: 0; }

/*
 * shared styles
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000310}}
.text-link {
  color: #666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000313}}
  .text-link:hover {
    color: #2c65c7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000317}}
.light-link, ul.dropdown-menu > li a, .branding .nav ul.nav-links li a, .console-branding .dropdown-menu > li a {
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000320}}
  .light-link:hover, ul.dropdown-menu > li a:hover, .branding .nav ul.nav-links li a:hover, .console-branding .dropdown-menu > li a:hover {
    color: #f2f2f2; }

/*
 * ui pieces
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000332}}
.page-title {
  margin: 30px 0 15px;
  font-size: 25px;
  color: #333;
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000339}}
.badge-dark {
  background: #828de4;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 1.2rem;
  color: #acb3ed;
  color: #1B267F;
  margin: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000349}}
.tag {
  background: #1B267F;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  color: #fff;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000356}}
  .tag .icon {
    margin: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000362}}
.msg {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 990; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000376}}
.text-loading {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 100px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000384}}
.loading-wrap {
  background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\0000386}}
  .loading-wrap .icon-loading {
    width: 200px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -100px;
    background: url(../img/loading.gif) no-repeat center;
    z-index: 999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003100}}
.confirm-dialog {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 990; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003111}}
  .confirm-dialog .content {
    font-size: 2rem;
    padding: 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003153}}
ul.dropdown-menu {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1.4rem;
  min-width: 150px;
  text-align: left;
  background: #1b1b1b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003128}}
  ul.dropdown-menu > li {
    border-bottom: 1px solid #353535;
    padding: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003132}}
    ul.dropdown-menu > li a {
      display: block;
      background: #1b1b1b;
      padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003138}}
      ul.dropdown-menu > li a:hover {
        background: #353535; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003142}}
      ul.dropdown-menu > li a:active {
        background: #020202; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003148}}
  ul.dropdown-menu > li:last-child {
    border-bottom: none; }

/*
 * form elements
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003163}}
input {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003168}}
.input {
  margin: 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003170}}
  .input input {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ddd;
    transition: border-color .3s;
    line-height: 25px;
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003177}}
    .input input:focus {
      border-color: #1B267F; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003183}}
.input-addtags {
  min-width: 300px;
  border: 1px solid #ddd;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 5px 5px 0px;
  transition: border-color .3s;
  cursor: text; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003191}}
  .input-addtags input {
    border: none;
    outline: none;
    line-height: 25px;
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003199}}
  .input-addtags ul.query-results {
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003201}}
    .input-addtags ul.query-results li {
      padding: 0 3px;
      line-height: 2;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003205}}
      .input-addtags ul.query-results li:hover {
        background: #f2f2f2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003210}}
  .input-addtags.focus {
    border-color: #1B267F; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003218}}
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  outline: none;
  height: 100px;
  transition: border-color .3s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003225}}
  textarea:focus {
    border-color: #1B267F; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003230}}
.btn {
  display: inline-block;
  background: #f6f6f6;
  padding: 5px 15px;
  line-height: 25px;
  font-size: 1.6rem;
  color: #666;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
  border-radius: 3px;
  border: 1px solid transparent;
  margin: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003245}}
  .btn:hover {
    background: #f9f9f9;
    color: #222;
    border: 1px solid #999;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003251}}
  .btn:active {
    background: #fff;
    border: 1px solid #1d5ad0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003255}}
  .btn:focus {
    background: #fff;
    border: 1px solid #1d5ad0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\000033}}
.branding {
  min-height: 60px;
  background: #1b1b1b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\000037}}
  .branding .logo {
    margin: 0;
    line-height: 60px;
    color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000311}}
    .branding .logo a {
      background: url(../img/logo.png) no-repeat left;
      width: 70px;
      height: 60px;
      background-size: 70px;
      text-indent: -999em;
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000320}}
  .branding .nav {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000325}}
    .branding .nav .username,
    .branding .nav .nav-links {
      line-height: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000331}}
    .branding .nav ul.nav-links li {
      display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000333}}
      .branding .nav ul.nav-links li a {
        padding: 0 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000340}}
    .branding .nav .dropdown-menu {
      position: absolute;
      top: 60px;
      right: 0;
      z-index: 999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000348}}
.console-branding {
  background: #1B267F;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000355}}
  .console-branding .sep {
    margin: 0 20px;
    opacity: .6; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000359}}
  .console-branding .sub {
    opacity: .8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000362}}
  .console-branding .dropdown-menu {
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
    line-height: 2.2;
    font-size: 1.4rem;
    min-width: 150px;
    text-align: left;
    background: #1B267F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003128}}
    .console-branding .dropdown-menu > li {
      border-bottom: 1px solid #2433a9;
      padding: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003132}}
      .console-branding .dropdown-menu > li a {
        display: block;
        background: #1B267F;
        padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003138}}
        .console-branding .dropdown-menu > li a:hover {
          background: #2433a9; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003142}}
        .console-branding .dropdown-menu > li a:active {
          background: #121955; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/elements\.scss}line{font-family:\00003148}}
    .console-branding .dropdown-menu > li:last-child {
      border-bottom: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000370}}
.colophon {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0.9rem;
  padding: 30px 0;
  color: #999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000381}}
.sidebar-left {
  position: fixed;
  left: 0;
  top: 60px;
  height: 100%;
  width: 300px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\0000393}}
ul.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003100}}
li.book {
  float: left;
  transition: all 0.2s ease 0s;
  position: relative;
  width: 150px;
  padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003106}}
  li.book a {
    display: block;
    padding-top: 10px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003111}}
  li.book a:hover img {
    opacity: .96; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003114}}
  li.book a:active {
    opacity: .8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003118}}
  li.book .book-meta span {
    width: 100%;
    text-align: left;
    display: block;
    line-height: 1.5;
    margin-left: 17px;
    width: 134px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003129}}
  li.book .book-meta span.book-author {
    color: #999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003135}}
  li.book .book-info-popup {
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003139}}
  li.book:hover .book-info-popup {
    display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003144}}
.book-cover {
  position: relative;
  margin: 0;
  width: 134px;
  height: 184px;
  top: 0;
  background: url(../img/shadow.png) no-repeat top;
  transition: all 0.2s ease 0s;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003153}}
  .book-cover img {
    width: 100px;
    height: 150px;
    display: block;
    position: absolute;
    border: none;
    left: 17px;
    top: 7px;
    border-radius: 4px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003163}}
  .book-cover:hover {
    top: -7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003171}}
.book-info-popup {
  position: absolute;
  z-index: 999;
  left: 134px;
  top: 0;
  width: 300px;
  background: #fff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.16);
  padding: 10px 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003185}}
.profile {
  background: #fff;
  width: 750px;
  margin: 50px auto;
  padding: 45px 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003190}}
  .profile .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 0 0 1rem 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003196}}
  .profile > ul > li {
    line-height: 3;
    border-top: 1px solid rgba(0, 0, 0, 0.14); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/components\.scss}line{font-family:\00003199}}
    .profile > ul > li label {
      display: inline-block;
      width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000311}}
#root.console .sidebar-left {
  background: #E4E4E4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000315}}
  #root.console .sidebar-left .nav-side {
    position: fixed;
    left: 0;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000319}}
    #root.console .sidebar-left .nav-side li {
      height: 50px;
      line-height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000322}}
      #root.console .sidebar-left .nav-side li a {
        display: block;
        padding: 0 15px;
        box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000329}}
  #root.console .sidebar-left .nav-side-root {
    width: 80px;
    background: #04082E; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000333}}
    #root.console .sidebar-left .nav-side-root li .icon {
      width: 100%;
      height: 50px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000338}}
    #root.console .sidebar-left .nav-side-root li.current {
      background: #1B267F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000342}}
  #root.console .sidebar-left .nav-side-sub {
    width: 220px;
    left: 80px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000345}}
    #root.console .sidebar-left .nav-side-sub li {
      background: #D8D8D8; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000347}}
      #root.console .sidebar-left .nav-side-sub li a {
        color: #666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000351}}
    #root.console .sidebar-left .nav-side-sub li.current {
      background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000353}}
      #root.console .sidebar-left .nav-side-sub li.current a {
        color: #1B267F; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000359}}
#root.console .content {
  margin-left: 320px;
  padding-top: 60px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000362}}
  #root.console .content form {
    width: 500px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000365}}
  #root.console .content table {
    margin-top: 10px;
    width: 100%;
    line-height: 2.5;
    font-size: 1.5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000371}}
    #root.console .content table > tbody > tr:first-child {
      border-bottom: 2px solid #666;
      font-weight: bold;
      line-height: 2.5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/console\.scss}line{font-family:\0000376}}
    #root.console .content table > tbody > tr {
      border-bottom: 1px solid #ddd; }

/*# sourceMappingURL=console.css.map */
