/* !
 * KitX v0.2.0
 * Copyright 2015-2016 Gao Liang
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\000031}}
html {
  font-size: 16px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\000034}}
body {
  font-size: 1rem;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\0000311}}
.no-csschunit body {
  font-family: "Microsoft Yahei", Arial, sans-serif; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\0000315}}
::selection {
  background: rgba(47, 141, 246, 0.3);
  color: #666;
  text-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\0000320}}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\0000326}}
a {
  color: #2c65c7;
  transition: all .2s ease-in; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\0000329}}
  a:hover {
    color: #4c83e0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\0000332}}
  a:active {
    color: #4b8cff;
    transition: all 0s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_base\.scss}line{font-family:\0000337}}
ul {
  padding: 0;
  margin: 0;
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\000031}}
.fade-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\000036}}
.fade-enter.fade-enter-active {
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\0000310}}
.fade-leave {
  opacity: 1;
  transition: opacity .3s ease-in; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\0000315}}
.fade-leave.fade-leave-active {
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\0000319}}
.slide-enter {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\0000325}}
.slide-enter.slide-enter-active {
  transform: translateY(0);
  opacity: 1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\0000330}}
.slide-leave {
  transform: translateY(0);
  opacity: 1;
  transition: all .3s; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_animations\.scss}line{font-family:\0000336}}
.slide-leave.slide-leave-active {
  transform: translateY(-100%);
  opacity: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\000033}}
.text-link {
  color: #666; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\000036}}
  .text-link:hover {
    color: #2c65c7; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000310}}
.light-link, ul.dropdown-menu > li a {
  color: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000313}}
  .light-link:hover, ul.dropdown-menu > li a:hover {
    color: #f2f2f2; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000321}}
.sep {
  margin: 0 5px;
  color: #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000325}}
.left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000328}}
.right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000331}}
.hidden {
  display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000334}}
.clearfix:after {
  content: " ";
  clear: both;
  display: table; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000344}}
.z1, .btn:hover, .btn:focus {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000347}}
.z2 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000350}}
.z3 {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000353}}
.z4 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000356}}
.z5 {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000360}}
.page-title {
  margin: 30px 0 15px;
  font-size: 1.5rem;
  color: #333;
  font-weight: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000367}}
.badge-dark {
  background: #828de4;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 0.8rem;
  color: #acb3ed;
  color: #1B267F;
  margin: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000377}}
.tag {
  background: #1B267F;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  color: #fff;
  display: inline-block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000384}}
  .tag .icon {
    margin: 0 5px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000389}}
.styled-table {
  margin-top: 10px;
  width: 100%;
  line-height: 2.5;
  font-size: 1rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\0000395}}
  .styled-table > tbody > tr:first-child {
    border-bottom: 2px solid #666;
    font-weight: bold;
    line-height: 2.5; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\00003100}}
  .styled-table > tbody > tr {
    border-bottom: 1px solid #ddd; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\00003123}}
.container-fluid {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\00003131}}
.content-container {
  width: 500px;
  margin: 0 auto; }
  @media (max-width: 540px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/utils\/_helpers\.scss}line{font-family:\00003131}}
    .content-container {
      width: 100%; } }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000315}}
.btn {
  display: inline-block;
  background: #f6f6f6;
  padding: 5px 20px;
  line-height: 25px;
  font-size: 1rem;
  color: #666;
  cursor: pointer;
  border: none;
  outline: none;
  font-weight: bold;
  font-family: Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft Yahei", sans-serif;
  border-radius: 3px;
  border: 1px solid transparent;
  margin: 5px 0;
  transition: all 0.3s 0s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000331}}
  .btn:hover {
    background: #f9f9f9;
    color: #222;
    border: 1px solid #999; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000337}}
  .btn:focus {
    background: #fff;
    border: 1px solid #1d5ad0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000342}}
  .btn:active {
    background: #fff;
    border: 1px solid #1d5ad0;
    box-shadow: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000346}}
    .btn:active:hover {
      box-shadow: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000352}}
.btn.btn-blue {
  background: #1d52ba;
  color: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000357}}
.btn.btn-orange {
  background: #ee9333; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_buttons\.scss}line{font-family:\0000361}}
.btn.btn-red {
  background: #d42020; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_dialog\.scss}line{font-family:\000031}}
.dialog {
  position: fixed;
  width: 500px;
  left: 50%;
  margin-left: -250px;
  top: 50%;
  z-index: 999;
  background: #fff;
  padding: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_dialog\.scss}line{font-family:\0000311}}
  .dialog p {
    font-size: 1.2rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_dropdowns\.scss}line{font-family:\000031}}
ul.dropdown-menu {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1rem;
  min-width: 150px;
  text-align: left;
  background: #1b1b1b; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/mixins\/_dropdowns\.scss}line{font-family:\0000310}}
  ul.dropdown-menu > li {
    border-bottom: 1px solid #353535;
    padding: 5px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/mixins\/_dropdowns\.scss}line{font-family:\0000314}}
    ul.dropdown-menu > li a {
      display: block;
      background: #1b1b1b;
      padding: 0 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/mixins\/_dropdowns\.scss}line{font-family:\0000320}}
      ul.dropdown-menu > li a:hover {
        background: #353535; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/mixins\/_dropdowns\.scss}line{font-family:\0000324}}
      ul.dropdown-menu > li a:active {
        background: #020202; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/mixins\/_dropdowns\.scss}line{font-family:\0000330}}
  ul.dropdown-menu > li:last-child {
    border-bottom: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_forms\.scss}line{font-family:\000031}}
input {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_forms\.scss}line{font-family:\000036}}
.input-wrap {
  margin: 10px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_forms\.scss}line{font-family:\000038}}
  .input-wrap input {
    width: 100%;
    padding: 5px 5px;
    border: 1px solid #ddd;
    transition: border-color .3s;
    line-height: 25px;
    outline: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_forms\.scss}line{font-family:\0000315}}
    .input-wrap input:focus {
      border-color: #1B267F; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_forms\.scss}line{font-family:\0000321}}
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ddd;
  outline: none;
  height: 100px;
  transition: border-color .3s; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_forms\.scss}line{font-family:\0000328}}
  textarea:focus {
    border-color: #1B267F; }

/*
 * icons
 * -------------------------------------------------------------------------------------
**/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\000036}}
.icon {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000312}}
.icon.small {
  width: 10px;
  height: 10px;
  background-size: 10px !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000317}}
.icon-close-light {
  background: url(../img/icons/close-light.png) no-repeat center;
  background-size: 30px;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000322}}
.icon-books {
  background: url(../img/icons/books.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000326}}
.icon-users {
  background: url(../img/icons/users.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000330}}
.icon-statistics {
  background: url(../img/icons/statistics.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000334}}
.icon-database {
  background: url(../img/icons/database.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000338}}
.icon-font {
  background: url(../img/icons/font.png) no-repeat center;
  background-size: 30px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_icons\.scss}line{font-family:\0000342}}
.icon-back {
  background: url(../img/icons/back.png) no-repeat center;
  background-size: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_loading\.scss}line{font-family:\000031}}
.text-loading {
  font-size: 30px;
  color: #ddd;
  font-weight: bold;
  text-align: center;
  padding: 100px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_loading\.scss}line{font-family:\000039}}
.loading-wrap {
  background: #fff; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_loading\.scss}line{font-family:\0000311}}
  .loading-wrap .icon-loading {
    width: 200px;
    height: 100px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin: -50px 0 0 -100px;
    background: url(../img/loading.gif) no-repeat center;
    z-index: 999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_modal\.scss}line{font-family:\000031}}
.modal {
  background: #fff; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_noti-bar\.scss}line{font-family:\000032}}
.msg {
  position: fixed;
  width: 500px;
  margin-left: -250px;
  top: 80px;
  left: 50%;
  padding: 10px 0;
  font-size: 16px;
  text-align: center;
  background: #fff;
  z-index: 9999; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_selectize-input\.scss}line{font-family:\000031}}
.selectize-input {
  min-width: 300px;
  border: 1px solid #ddd;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 5px 5px 0px;
  transition: border-color .3s;
  cursor: text; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_selectize-input\.scss}line{font-family:\000039}}
  .selectize-input input {
    border: none;
    outline: none;
    line-height: 25px;
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_selectize-input\.scss}line{font-family:\0000317}}
  .selectize-input ul.query-results {
    margin-bottom: 5px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_selectize-input\.scss}line{font-family:\0000319}}
    .selectize-input ul.query-results li {
      padding: 0 3px;
      line-height: 2;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_selectize-input\.scss}line{font-family:\0000323}}
      .selectize-input ul.query-results li:hover {
        background: #f2f2f2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/liang\/dev\/readr\/src\/scss\/elements\/_selectize-input\.scss}line{font-family:\0000328}}
  .selectize-input.focus {
    border-color: #1B267F; }

/*# sourceMappingURL=kitx.css.map */
