@import "~styles/variables";

$background: $dark;

.light-link {
  color: #ddd;

  &:hover {
    color: #fff;
  }
}

.dropdown {
  display: inline-block;
  position: relative;
  height: inherit;
}

.dropdown-toggle {
  display: block;
  user-select: none;
  -webkit-user-select: none;
  max-height: 100%;
  cursor: pointer;
}

.dropdown-menu {
  box-shadow: $shadow-x12;
  line-height: 2.2;
  font-size: 1rem;
  text-align: left;
  background: $background;
  position: absolute;
  right: 0;
  width: 150px;
  padding: 5px 0;
  margin-top: 14px;
  border-radius: 3px;
  z-index: $z-dropdown-menu;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border: 4px solid;
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  margin-left: 5px;
}

.dropdown-item {
  composes: light-link;
  display: block;
  padding: 0 25px;
  transition: all 0s;

  &:hover {
    background: lighten($background, 10%);
  }

  &:active {
    background: lighten($background, 10%);
  }
}

.sep {
  margin: 5px 0;
  height: 1px;
  background: lighten($background, 10%);
}

.popover-arrow {
  top: -14px;
  clip: rect(0 18px 14px -4px);
  position: absolute;
  // todo
  right: 34px;
  &:after {
    transform: rotate(45deg) translate(6px,6px);
    box-shadow: -1px -1px 1px -1px rgba(0,0,0,.44);
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    background: #fff;
  }
}

.dropdown-menu--dark {
  composes: dropdown-menu;
  background: $dark-blue;

  .popover-arrow {
    &:after {
      background: $dark-blue;
    }
  }

  & .sep {
    background: lighten($dark-blue, 5%);
  }

  & .dropdown-item {
    &:hover {
      background: $blue;
    }
  }
}

.dropdown-menu--light {
  composes: dropdown-menu;
  background: #fff;

  & .sep {
    background: $gray;
  }

  & .dropdown-item {
    color: $text;
    &:hover {
      background: $blue;
      color: #fff;
    }
  }
}
