$background: black;

.light-link {
  color: #ddd;

  &:hover {
    color: #fff;
  }
}

.dropdown {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.dropdown-toggle {
  display: inline-block;
}

.dropdown-menu {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1rem;
  min-width: 150px;
  text-align: left;
  background: $background;
  position: absolute;
  right: 0;
  min-width: 150px;
  overflow: hidden;
  // todo: 添加到 variables
  z-index: 1000;
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border: 4px solid;
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}

.dropdown-item {
  border-bottom: 1px solid lighten($background, 10%);
  padding: 5px 0;

  a {
    display: block;
    background: $background;
    padding: 0 10px;
    @extend .light-link;

    &:hover {
      background: lighten($background, 10%);
    }

    &:active {
      background: darken($background, 10%);
    }
  }

  &:last-child {
    border-bottom: none;
  }
}
