@import "styles/variables.css";

:root {
  --background: black;
}

.light-link {
  color: #ddd;

  &:hover {
    color: #fff;
  }
}

.dropdown {
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.dropdown-toggle {
  display: inline-block;
}

.dropdown-menu {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22);
  line-height: 2.2;
  font-size: 1rem;
  min-width: 150px;
  text-align: left;
  background: var(--background);
  position: absolute;
  right: 0;
  min-width: 150px;
  overflow: hidden;
  padding: 5px 0;
  z-index: var(--z-dropdown-menu);
}

.dropdown-caret {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  content: "";
  border: 4px solid;
  border-right-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
}

.dropdown-item {
  composes: light-link;
  display: block;
  padding: 0 25px;
  transition: all 0s;
  composes: text-overflow from "styles/_common.scss";

  &:hover {
    background: color(var(--background) l(+ 10%));
  }

  &:active {
    background: color(var(--background) l(- 10%));
  }
}

.sep {
  margin: 5px 0;
  height: 1px;
  background: color(var(--background) l(+ 10%));
}

.dropdown-menu--dark {
  composes: dropdown-menu;
  background: var(--blue);

  & .sep {
    background: color(var(--blue) l(+ 5%));
  }

  & .dropdown-item {
    &:hover {
      background: color(var(--blue) l(+ 10%));
    }
  }
}
