@import "~styles/variables";
@import "~styles/mixins/screens";
// @import "~styles/common";

$height: $branding-height;

.viewer-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70%;
  background: #fff;
  overflow-y: scroll;
  z-index: $z-vnav;
  box-shadow: $shadow-y2;
  @include phone {
    // width: 100%;
  }

  ul {
    margin-left: 20px;
    text-align: left;
    line-height: 1.8;
    padding-right: 20px;
    padding-top: 10px;
  }
}

.title {
  font-size: 1.2rem;
  height: $height;
  line-height: $height;
  padding-left: 15px;
  border-bottom: 1px solid $gray;
}
