@import "~styles/variables";
@import "~styles/mixins/screens";

$panel_background: #fff;
$panel_text: $text;
$height: $branding-height;
$icons_size: 30px;

.viewer-panel {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 990;
  background: $panel_background;
  color: $panel_text;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.04);
  height: $height;
}

.container {
  max-width: 1200px;
  // text-align: center;
  margin: 0 auto;
  height: $height;
  position: relative;
}

.logo {
  position: absolute;
  left: 15px;
  top: 0;
  line-height: $height;
}

.back {
  position: absolute;
  left: 5px;
  top: 0;
  line-height: $height;

  a {
    color: $panel_text;
    display: inline-block;
    height: $height;
    line-height: $height;
    overflow: hidden;
    span {
      float: left;
      margin-right: 5px;
    }
  }

  span {
    line-height: $icons_size;
    display: inline-block;
    height: $height;
    line-height: $height;
  }
}

.contents {
  display: inline-block;
  position: absolute;
  right: 70px;
  top: 0;
  cursor: pointer;
  line-height: $height;

  span {
    color: $panel_text;
  }
}

.title {
  font-size: 1rem;
  line-height: $height;
  position: absolute;
  left: 125px;

  // @include phone {
  //   display: none;
  // }
}

.sep {
  position: absolute;
  left: 106px;
  top: 20px;
  width: 1px;
  height: 20px;
  background: #ddd;
}

.preference {
  position: absolute;
  right: 15px;
  top: 18px;
  cursor: pointer;
  display: inline-block;
}
