$branding-height: 60px;

.logo-wrap {
  margin: 0;
  line-height: $branding-height;
  color: #fff;
  margin-top: -3px;
  display: inline-block;
}

.logo {
  background: url(./logo.png) no-repeat left;
  width: 70px;
  height: $branding-height;
  background-size: 70px;
  text-indent: -999em;
  display: inline-block;
}

.logo--dark {
  composes: logo;
  background: url(./logo-dark.png) no-repeat left;
  background-size: 70px;
}
