@import "~styles/mixins/screens";

// https://stackoverflow.com/questions/12121090/responsively-change-div-size-keeping-aspect-ratio
.img-wrap {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 420px;
  @include phone {
    height: auto;
  }
  & img {
    max-width: 100%;
    height: auto;
  }
}
.img-wrap:after {
  @include phone {
    padding-top: 60%;
    display: block;
    content: '';
  }
}
.img-inner {
  background-size: cover !important;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

:global .slick-arrow.slick-prev,
:global .slick-arrow.slick-next {
  left: 20px;
  color: #fff;
  z-index: 999;
  opacity: 0.8;
  height: 200px;
  line-height: 200px;
  width: 30px;
  text-align: center;

  .icon {
    color: #fff;
  }

  &:before {
    display: none;
  }
}

:global .slick-arrow.slick-next {
  left: auto;
  right: 20px;
}
