// links
.light-link { @extend %light-link; }
.text-link { @extend %text-link; }
.dark-link { @extend %dark-link; }
.border-link { @extend %border-link; }

// page
.page-title { @extend %page-title; }

.page-header {
  margin: 35px 0;
  position: relative;
}

.page-header > .page-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 46px;
}

.page-content {
  width: 700px;
  margin: 0 auto;
}

// layout
.sep { @extend %sep; }

.left {
  float: left;
}

.right {
  float: right;
}

.hidden {
  display: none;
}

.clearfix { @extend %clearfix; }

.center {
  text-align: center;
}

.container-fluid {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}

.content-container {
  width: $reading-width;
  margin: 0 auto;

  @include phone {
    width: 100%;
  }
}

.text-overflow { @extend %text-overflow; }

// styled
.badge {
  background: $blue;
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 0.8rem;
  color: #fff;
  margin: 0 5px;
}

.badge--dark {
  composes: badge;
  background: black;
}

.tag {
  background: $blue;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  color: #fff;
  display: inline-block;
}

.tag-l {
  background: #b7c0c7;
  border-radius: 3px;
  padding: 6px 20px;
  margin: 0 15px 15px 0;
  color: #fff;
  display: inline-block;
  
  .icon {
    margin: 0 5px;
  }
}

.circled {
  min-width: 19px;
  height: 19px;
  box-sizing: border-box;
  padding: 1px 4px 0;
  line-height: 19px;
  background: #00bcd5;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}

.text-loading { @extend %text-loading; }

// page rendering
.gb-line {
  overflow: hidden;
}
