@import "./variables.css";

html {
  font-size: var(--font-size-root);
}
body {
  font-size: 1rem;
  font-family: var(--font-family);
  color: var(--text);
  -webkit-font-smoothing: antialiased;
}
::selection {
  background: rgba(47, 141, 246, .3);
  color: var(--text);
  text-shadow: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a {
  color: var(--blue);
  transition: all .2s ease-in;
}
a:hover {
  color: var(--text);
}
a:active {
  color: var(--text-dark);
  transition: all 0s;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.light-link {
  color: #fff;
}
.light-link:hover {
  color: #aaa;
}

/* link */
/*.text-link {
  color: $text_n;
  &:hover {
   color: $link_n;
  }
}

.dark-link {
  color: $text_n;

  &:hover {
   color: $text_d;
  }
}*/

/* page */
.pagetitle {
  margin: 35px 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-dark);
}

.page-header {
  margin: 35px 0;
  position: relative;
}
.page-header > .page-title {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 20px;
  line-height: 46px;
}

.page-content {
  width: 700px;
  margin: 0 auto;
}

/* todo */
.page-load-more {
  border: 1px solid var(--gray);
  width: 80%;
  margin: 30px auto;
  padding: 6px 0;
  text-align: center;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
}


/* layout */
.sep {
  margin: 0 5px;
  color: var(--gray);
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}
.center {
  text-align: center;
}
.container-fluid {
  width: 100%;
  padding: 0 10px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
}
/*.content-container {
  width: $best_reading_width;
  margin: 0 auto;
  @include phone {
    width: 100%;
  }
}*/
.text-overflow-hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* styled */
.badge-dark {
  /*background: lighten($super_power, 40%);*/
  background: var(--blue);
  border-radius: 3px;
  padding: 3px 4px;
  font-size: 0.8rem;
  /*color: lighten($super_power, 50%);*/
  color: #fff;
  margin: 0 5px;
}

/*
.tag {
  background: $app_base_color;
  border-radius: 3px;
  padding: 3px 5px;
  margin: 0 5px 5px 0;
  color: #fff;
  display: inline-block;
  
  .icon {
    margin: 0 5px;
  }
}

.tag-l {
  background: #b7c0c7;
  border-radius: 3px;
  padding: 6px 20px;
  margin: 0 15px 15px 0;
  color: #fff;
  display: inline-block;
  
  .icon {
    margin: 0 5px;
  }
}

.circled {
  min-width: 19px;
  height: 19px;
  box-sizing: border-box;
  padding: 1px 4px 0;
  line-height: 19px;
  background: #00bcd5;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
}*/
