@import "variables";
@import "mixins";
@import "components";
@import "helpers";
@import "links";
@import "animations";

html {
  font-size: $font_size_root;
}
body {
  font-size: 1rem;
  font-family: $sans_font;
  color: $text_n;
  -webkit-font-smoothing: antialiased;
}
.no-csschunit {
  body {
    font-family: $sans_font_ie;
  }
}
::selection {
  background: rgba(47, 141, 246, .3);
  color: $text_n;
  text-shadow: none;
}
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}
a {
  color: $link_n;
  transition: all .2s ease-in;
  &:hover {
    color: $link_h;
  }
  &:active {
    color: $link_a;
    transition: all 0s;
  }
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}


#root.console {
  .sidebar-left {
    $nav_root_width: 80px;
    $item_line_height: 50px;
    background: #E4E4E4;
    .nav-side {
      position: fixed;
      left: 0;
      height: 100%;
      li {
        height: $item_line_height;
        line-height: $item_line_height;
        a {
          display: block;
          padding: 0 15px;
          box-sizing: border-box;
        }
      }
    }
    .nav-side-root {
      width: $nav_root_width;
      background: $super_power2;
      li {
        .icon {
          width: 100%;
          height: $item_line_height;
        }
      }
      li.current {
        background: $super_power;
      }
    }
    .nav-side-sub {
      width: $sidebar_width - $nav_root_width;
      left: $nav_root_width;
      li {
        background: #D8D8D8;
        a {
          color: $text_n;
        }
      }
      li.current {
        background: #fff;
        a {
          color: $super_power;
        }
      }
    }
  }
  .content {
    margin-left: $sidebar_width + 20;
    padding-top: $branding_height;
    form {
      width: $best_reading_width;
    }
    table {
      @extend .styled-table;
    }
  }

  .page-content {
    margin-left: $sidebar_width + 30;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: $branding_height;
    
    form {
      width: $best_reading_width;
    }
  }
}
