

// Colophon

.colophon {
  margin-top: 50px;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  font-size: 0.9rem;
  padding: 30px 0;
  color: $text_l;
}


// Console left sidebar

.sidebar-left {
  position: fixed;
  left: 0;
  top: $branding_height;
  height: 100%;
  width: $sidebar_width;
}


// Book list


ul.book-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -10px;
  margin-right: -10px;
}



// Book info popup




// candy box

.candy-box {
  h3.box-title {
    font-size: 1.2rem;
    font-weight: normal;
    color: $text_d;
  }
  ul {
    li {
      border-top: 1px solid $gray_l;
      a {
        color: $text_n;
        line-height: 2.5;
        &:hover {
          color: $link_n;
        }
      }
    }
  }
}


// book list section

.book-list-section {
  position: relative;

  .section-title {
    @extend .page-title;
    margin-top: 20px;
  }

  a.more {
    position: absolute;
    right: 0;
    top: 0;
    line-height: 32px;
  }
}
