.selectize-input {
  min-width: 300px;
  border: 1px solid $gray_d;
  margin: 10px 0;
  box-sizing: border-box;
  padding: $input_padding 5px ($input_padding - 5);
  transition: border-color .3s;
  cursor: text;
  input {
    border: none;
    outline: none;
    line-height: $input_line_height;
    margin-bottom: 5px;
  }
  .tag {
  }
  ul.query-results {
    margin-bottom: 5px;
    li {
      padding: 0 3px;
      line-height: 2;
      cursor: pointer;
      &:hover {
        background: $gray_l;
      }
    }
  }
  &.focus {
    border-color: $super_power;
  }
  &.empty {
    // padding-bottom: $input_padding;
  }
}

.selectize-tag {
  @extend .tag;
  background: #b7c0c7;
  
  .iconfont {
    font-size: 0.8rem;
  }
}



// .selectize-input-wrap {
//   @extend .input-wrap;
//   position: relative;
// }

// .selectize-input {
//   @extend .form-control;
//   padding: 5px !important;
//   padding-bottom: 0 !important;
  
//   &.focus {
//     border-color: $super_power;
//   }
  
//   input {
//     border: none;
//     outline: none;
//     line-height: $input_line_height;
//     margin-bottom: 5px;
//   }
// }

// .selectize-query-results {
//   @extend .dropdown-menus;
//   min-width: auto;
//   width: 100%;
//   margin-bottom: 50px;
//   max-height: 200px;
//   overflow: scroll;

//   li.disabled {
//     background: #eee;
//     color: $text_l;
//     cursor: default;
//   }
// }

// .selectize-tag {
//   @extend .tag;
//   background: #b7c0c7;
  
//   .iconfont {
//     font-size: 0.8rem;
//   }
// }