$viewer_background1: #e5e4db;
$text_background1: #f6f4ec;

@mixin make_viewer($text, $text_background, $panel_text, $panel_background, $viewer_background, $color) {

  position: relative;
  background: $viewer_background;

  .page-no {
    position: absolute;
    left: 0;
    top: 0;
    border-top: 1px solid lighten($text, 50%);
    padding: 0 10px;
    color: lighten($text, 50%);
    font-size: 0.8rem;
  }

  ul.pages {
    position: relative;
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    background: $text_background;
    z-index: 980;

    >li {
      display: block;
      width: 100%;
      overflow: hidden;
      cursor: default;

      .content {
        margin: 0 auto;
        width: 550px;
        position: relative;
        overflow: hidden;
        color: $text;
        line-height: 1.9;

        p {
          margin: 0;
          min-height: 25px;
        }
      }
    }
    >li.init {
      position: relative;
      height: auto;
      .content {
        height: auto;
      }
    }
  }

  .viewer-panel {
    $height: 60px;

    width: 100%;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 990;
    background: $panel_background;
    color: $panel_text;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 0.04);
    height: $height;

    .container {
      overflow: hidden;
      text-align: center;
      // height: $height;
      margin-top: ($height - $icons_size)/2;
    }

    .icon {

    }

    .back, .title, .preference {
      // line-height: $height;
    }

    .back {
      float: left;
      a {
        color: $panel_text;
        display: inline-block;
        overflow: hidden;
        span {
          float: left;
        }
      }
      span {
        line-height: $icons_size;
        display: inline-block;
      }
    }

    .title {
      font-size: 1.2rem;
    }

    .preference {
      float: right;
    }

    // span {
    //   height: $height;
    //   line-height: $height;
    //   display: inline-block;
    //   opacity: .4;
    //   margin: 0 10px;
    //   background-repeat: no-repeat !important;
    //   background-size: 30px !important;
    //   float: left;
    // }
    // span.title {
    //   font-size: 18px;
    //   border-left: 1px solid #ccc;
    //   padding: 0;
    //   opacity: .7 !important;
    //   padding-left: 20px;
    //   margin-left: 0;
    // }
    // span.loc {
    //   float: right;
    //   opacity: .4 !important;
    //   font-size: 1.6rem;
    //   margin-right: 20px;
    // }
    // span:active {
    //   opacity: .8;
    // }
    // .home {
    //   width: 30px;
    //   background: url(../img/home.png) center;
    //   a {
    //     display: block;
    //     height: $height;
    //   }
    // }
  }
}

.page-book-viewer.book-viewer--phone {
  .pages {
    background: #fff;
    .container {
      width: 100%;
      background: #fff;
      ul li {
        display: block;
        .content {
          padding: 0 25px;
          width: auto;
          margin: 0 auto;
        }
        .page-no {
          padding: 0 3px;
          font-size: 10px;
          line-height: 2.6;
        }
      }
    }
  }

  .functions {
    .container {
      border-bottom: 1px solid #ddd;
      background: #f2f2f2;
      .title {
        border-left: 1px solid #ddd;
      }
    }
  }
}

.viewer {
  @include make_viewer(#555, #fff, #fff, #222, #eee, red);
}
