.page-signin,
.page-signup {
  .content-container {
    margin-top: 100px;
    text-align: center;
    position: relative;
    .mui-textfield {
      padding-top: 8px;
      margin-bottom: 8px;
    }
    .mui-btn {
      margin-top: 15px;
    }
    .hint {
      margin-top: 20px;
      font-size: 16px;
      a {
        font-weight: bold;
      }
    }
  }
}
