@import "utils/constants";
@import "utils/mixin";
@import "utils/base";
@import "utils/layout";
@import "utils/icons";
@import "utils/animation";
@import "utils/elements";
@import "utils/components";

#root.console {
  .sidebar-left {
    $nav_root_width: 80px;
    $item_line_height: 50px;
    background: #E4E4E4;
    .nav-side {
      position: fixed;
      left: 0;
      height: 100%;
      li {
        height: $item_line_height;
        line-height: $item_line_height;
        a {
          display: block;
          padding: 0 15px;
          box-sizing: border-box;
        }
      }
    }
    .nav-side-root {
      width: $nav_root_width;
      background: $super_power2;
      li {
        .icon {
          width: 100%;
          height: $item_line_height;
        }
      }
      li.current {
        background: $super_power;
      }
    }
    .nav-side-sub {
      width: $sidebar_width - $nav_root_width;
      left: $nav_root_width;
      li {
        background: #D8D8D8;
        a {
          color: $text_n;
        }
      }
      li.current {
        background: #fff;
        a {
          color: $super_power;
        }
      }
    }
  }
  .content {
    margin-left: $sidebar_width + 20;
    padding-top: $branding_height;
    form {
      width: $best_reading_width;
    }
    table {
      margin-top: 10px;
      width: 100%;
      line-height: 2.5;
      font-size: 1.5rem;
      >tbody {
        >tr:first-child {
          border-bottom: 2px solid $text_n;
          font-weight: bold;
          line-height: 2.5
        }
        >tr {
          border-bottom: 1px solid $gray_d;
        }
      }
    }
  }
}
