@import "vendors/normalize";
@import "vendors/bootstrap-grid/index";
@import "kitx";

// Components
@import "components/brandings";
@import "components/pieces";

#root.console {
  .sidebar-left {
    $nav_root_width: 80px;
    $item_line_height: 50px;
    background: #E4E4E4;
    .nav-side {
      position: fixed;
      left: 0;
      height: 100%;
      li {
        height: $item_line_height;
        line-height: $item_line_height;
        a {
          display: block;
          padding: 0 15px;
          box-sizing: border-box;
        }
      }
    }
    .nav-side-root {
      width: $nav_root_width;
      background: $super_power2;
      li {
        .icon {
          width: 100%;
          height: $item_line_height;
        }
      }
      li.current {
        background: $super_power;
      }
    }
    .nav-side-sub {
      width: $sidebar_width - $nav_root_width;
      left: $nav_root_width;
      li {
        background: #D8D8D8;
        a {
          color: $text_n;
        }
      }
      li.current {
        background: #fff;
        a {
          color: $super_power;
        }
      }
    }
  }
  .content {
    margin-left: $sidebar_width + 20;
    padding-top: $branding_height;
    form {
      width: $best_reading_width;
    }
    table {
      @extend .styled-table;
    }
  }
}
