.fade-enter {
  opacity: 0.01;
  transition: opacity .3s ease-in;
}

.fade-enter.fade-enter-active {
  opacity: 1;
}

.fade-leave {
  opacity: 1;
  transition: opacity .3s ease-in;
}

.fade-leave.fade-leave-active {
  opacity: 0;
}

.slide-enter {
  transform: translateY(-100%);
  opacity: 0.01;
  transition: all .3s;
}

.slide-enter.slide-enter-active {
  transform: translateY(0);
  opacity: 1;
}

.slide-leave {
  transform: translateY(0);
  opacity: 1;
  transition: all .3s;
}

.slide-leave.slide-leave-active {
  transform: translateY(-100%);
  opacity: 0;
}
