.sep {
  margin: 0 5px;
  color: $gray_d;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.clearfix:after {
  content: " ";
  clear: both;
  display: table;
}
.page-title {
  margin: 30px 0;
  font-size: 25px;
  color: $text_d;
}
