// variables
$base_color: #b92222;

$text_n: #666;
$text_d: #333;
$text_l: #999;

$link_n: #2c65c7;
$link_h: #4c83e0;
$link_a: #4b8cff;

$gray_l: #f2f2f2;
$gray_d: #ddd;

$spacing_l: 100px;
$spacing_m: 50px;
$spacing_s: 25px;

$font_size_l: 40px;
$font_size_m: 22px;
$font_size_s: 16px;

$wide_screen: 1200px;
$normal_screen: 900px;
$narrow_screen: 768px;
$mobile_screen: 400px;

$sans_font: "roboto","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft Yahei",sans-serif;
$sans_font_ie: "Microsoft Yahei",Arial,sans-serif;
$serif_font: "Droid serif", georgia, serif;

@import "base";
@import "dia";
@import "book-list";
@import "book";

@import "layout";
